:root {
    /* Info */
    --SKIN-skin: "Lavender Default";
    --SKIN-author: "Obscure.";

    /* Fonts */
    --SKIN-titlebar-font: "Source Sans Pro";
    --SKIN-primary-font: "Source Sans Pro";
    --SKIN-display-font: "Source Sans Pro";
    --SKIN-code-font: "JetBrainsMono";
}

.theme-dark {
    /* Interactive */
    --SKIN-interactive-normal: hsla(213, calc(var(--saturation-factor, 1)*13%), 87%, 0.8);
    --SKIN-interactive-hover: hsla(0, calc(var(--saturation-factor, 1)*0%), 93%, 1.0);
    --SKIN-interactive-active: hsla(220, calc(var(--saturation-factor, 1)*12%), 90%, 1.0);
    --SKIN-interactive-muted: hsla(0, calc(var(--saturation-factor, 1)*0%), 29%, 1.0);

    /* Background */
    --SKIN-background-primary: #050505;
    --SKIN-background-secondary: #080808;
    --SKIN-background-tertiary: #111111;
    --background-tertiary-alt: #000;

    /* Accent / Blurple */
    --SKIN-accent-primary: hsla(241, calc(var(--saturation-factor, 1)*98%), 74%, 1.0);
    --SKIN-accent-secondary: hsla(241, calc(var(--saturation-factor, 1)*98%), 74%, 0.7);
    --SKIN-accent-tertiary: hsla(241, calc(var(--saturation-factor, 1)*98%), 74%, 0.4);

    /* Green */
    --SKIN-green-primary: hsla(146, calc(var(--saturation-factor, 1)*100%), 42%, 1.0);
    --SKIN-green-secondary: hsla(153, calc(var(--saturation-factor, 1)*93%), 44%, 1.0);
    --SKIN-green-tertiary: hsla(153, calc(var(--saturation-factor, 1)*93%), 44%, 0.4);

    /* Yellow */
    --SKIN-yellow-primary: hsla(43, calc(var(--saturation-factor, 1)*91%), 65%, 1.0);
    --SKIN-yellow-secondary: hsla(29, calc(var(--saturation-factor, 1)*100%), 69%, 1.0);
    --SKIN-yellow-tertiary: hsla(29, calc(var(--saturation-factor, 1)*100%), 69%, 0.5);

    /* Red */
    --SKIN-red-primary: hsla(359, calc(var(--saturation-factor, 1)*98%), 58%, 1.0);
    --SKIN-red-secondary: hsla(358, calc(var(--saturation-factor, 1)*91%), 54%, 1.0);
    --SKIN-red-tertiary: hsla(358, calc(var(--saturation-factor, 1)*91%), 54%, 0.4);

    /* Purple */
    --SKIN-purple-primary: hsla(262, calc(var(--saturation-factor, 1)*47%), 40%, 1.0);
    --SKIN-purple-secondary: hsla(263, calc(var(--saturation-factor, 1)*39%), 50%, 1.0);
    --SKIN-purple-tertiary: hsla(260, calc(var(--saturation-factor, 1)*59%), 31%, 1.0);
}