:root {
    --blurple-replace: #7E7BFE;
    --brand-experiment: #7E7BFE;
    --brand-experiment-hover: #7E7BFEcc;

    --blurple-bg: linear-gradient(90deg, rgba(107, 105, 255, 1) 0%, rgba(131, 129, 254, 1) 100%);
    --blurple-bg-alt: #6C6AFF;

    --red-bg: linear-gradient(90deg, rgba(243, 30, 38, 1) 0%, rgba(251, 64, 64, 1) 100%);
    --red-bg-alt: #F42028;

    --spotify-color: #00D65D;
    --spotify-bg: linear-gradient(320deg, hsl(146deg 100% 42%) 0%, hsl(147deg 98% 43%) 9%, hsl(147deg 96% 43%) 17%, hsl(148deg 95% 44%) 26%, hsl(149deg 94% 44%) 35%, hsl(150deg 93% 44%) 43%, hsl(152deg 93% 44%) 52%, hsl(153deg 94% 44%) 61%, hsl(154deg 95% 44%) 70%, hsl(155deg 96% 43%) 79%, hsl(156deg 98% 43%) 89%, hsl(158deg 100% 42%) 100%);
    --spotify-bg-alt: #02D983;

    --activity-bg: var(--blurple-bg);
    --twitch-bg: linear-gradient(90deg, rgba(105, 2, 244, 1) 0%, rgba(208, 3, 255, 1) 100%);
    --bot-bg: var(--blurple-bg-alt);
    --xbox-bg: linear-gradient(90deg, rgba(0, 172, 65, 1) 0%, rgba(124, 203, 48, 1) 100%);
}

.theme-dark,
.theme-light {
    --info-positive-background: #08DA7A66;
    --info-positive-foreground: #08DA7A;
    --info-warning-background: #FFAC6066;
    --info-warning-foreground: #FFAC60;
    --info-danger-background: #F4202866;
    --info-danger-foreground: #F42028;
    --status-positive-background: var(--info-positive-foreground);
    --status-positive-text: #eee;
    --status-warning-background: var(--info-warning-foreground);
    --status-danger-background: var(--info-danger-foreground);
    --status-danger-text: #eee;
    --focus-primary: var(--brand-experiment);
}

.theme-dark {
    --header-primary: #fff;
    --header-secondary: #b9bbbe;

    --text-color: #eee;
    --text-normal: #C1C1C5;
    --text-muted: #ffffff40;
    --text-link: var(--brand-experiment);
    --text-link-low-saturation: hsl(197, calc(var(--saturation-factor, 1)*100%), 52.9%);
    --text-positive: var(--info-positive-foreground);
    --text-warning: var(--info-warning-foreground);
    --text-danger: var(--info-danger-foreground);
    --text-brand: var(--brand-experiment);

    --toast-background: var(--background-secondary);
    --toast-header: var(--background-primary);
    --toast-contents: var(--background-secondary-alt);
    --toast-box-shadow: rgba(0, 0, 0, .2);
    --toast-border: rgba(28, 36, 43, .6);

    --interactive-normal: #D9DDE2cc;
    --interactive-hover: #eee;
    --interactive-active: #e2e4e8;
    --interactive-muted: rgb(75, 75, 75);

    --background-primary: #101014;
    --background-secondary: #17161B;
    --background-secondary-alt: #1E1D24;
    --background-tertiary: var(--background-primary);
    --background-accent: var(--background-secondary-alt);
    --background-floating: var(--background-primary);
    --background-nested-floating: var(--background-secondary);
    --background-mobile-primary: var(--background-primary);
    --background-mobile-secondary: var(--background-secondary);
    --background-modifier-hover: rgba(79, 84, 92, 0.16);
    --background-modifier-active: rgba(79, 84, 92, 0.24);
    --background-modifier-selected: rgba(79, 84, 92, 0.32);
    --background-modifier-accent: hsla(0, 0%, 100%, 0.06);

    --info-positive-text: #fff;
    --info-warning-text: #fff;
    --info-danger-text: #fff;
    --info-help-background: hsla(197, calc(var(--saturation-factor, 1)*100%), 47.8%, 0.1);
    --info-help-foreground: hsl(197, calc(var(--saturation-factor, 1)*100%), 47.8%);
    --info-help-text: #fff;
    --status-warning-text: #000;

    --scrollbar-thin-thumb: var(--background-secondary-alt);
    --scrollbar-thin-track: transparent;
    --scrollbar-auto-thumb: #00000066;
    --scrollbar-auto-track: #17161B99;
    --scrollbar-auto-scrollbar-color-thumb: var(--background-tertiary);
    --scrollbar-auto-scrollbar-color-track: var(--background-secondary);

    --elevation-stroke: 0 0 0 1px rgba(4, 4, 5, 0.15);
    --elevation-low: 0 1px 0 rgba(4, 4, 5, 0.2), 0 1.5px 0 rgba(6, 6, 7, 0.05), 0 2px 0 rgba(4, 4, 5, 0.05);
    --elevation-medium: 0 4px 4px rgba(0, 0, 0, 0.16);
    --elevation-high: 0 8px 16px rgba(0, 0, 0, 0.24);

    --logo-primary: #fff;

    --control-brand-foreground: hsl(241, calc(var(--saturation-factor, 1)*86.1%), 77.5%);
    --control-brand-foreground-new: hsl(241, calc(var(--saturation-factor, 1)*86.1%), 77.5%);

    --background-mentioned: #28151D;
    --background-mentioned-hover: #28151Dae;
    --background-message-hover: rgba(4, 4, 5, 0.1);
    --background-message-automod: hsla(359, calc(var(--saturation-factor, 1)*82.6%), 59.4%, 0.05);
    --background-message-automod-hover: hsla(359, calc(var(--saturation-factor, 1)*82.6%), 59.4%, 0.1);

    --channels-default: #808080;

    --guild-header-text-shadow: 0 1px 1px rgba(0, 0, 0, 0.4);

    --channeltextarea-background: var(--background-secondary);
    --channeltextarea-caret: var(--brand-experiment);

    --textbox-markdown-syntax: #8e9297;

    --spoiler-revealed-background: #292b2f;
    --spoiler-hidden-background: var(--background-tertiary);

    --deprecated-card-bg: var(--background-tertiary);
    --deprecated-card-editable-bg: var(--background-tertiary);
    --deprecated-store-bg: var(--background-primary);
    --deprecated-quickswitcher-input-background: var(--background-primary);
    --deprecated-quickswitcher-input-placeholder: hsla(0, 0%, 100%, 0.3);
    --deprecated-text-input-bg: rgba(0, 0, 0, 0.1);
    --deprecated-text-input-border: rgba(0, 0, 0, 0.3);
    --deprecated-text-input-border-hover: #040405;
    --deprecated-text-input-border-disabled: var(--background-tertiary);
    --deprecated-text-input-prefix: #dcddde;
}

::selection {
    background-color: var(--brand-experiment) !important;
    color: #fff !important;
}

[data-popout-root],
html {
    --brand-experiment-100: hsl(241, calc(var(--saturation-factor, 1)*77.8%), 98.2%);
    --brand-experiment-130: hsl(241, calc(var(--saturation-factor, 1)*87.5%), 96.9%);
    --brand-experiment-160: hsl(241, calc(var(--saturation-factor, 1)*84.6%), 94.9%);
    --brand-experiment-200: hsl(241, calc(var(--saturation-factor, 1)*83.3%), 92.9%);
    --brand-experiment-230: hsl(241, calc(var(--saturation-factor, 1)*87%), 91%);
    --brand-experiment-260: hsl(241, calc(var(--saturation-factor, 1)*86.2%), 88.6%);
    --brand-experiment-300: hsl(241, calc(var(--saturation-factor, 1)*86.1%), 85.9%);
    --brand-experiment-330: hsl(241, calc(var(--saturation-factor, 1)*85.1%), 81.6%);
    --brand-experiment-360: hsl(241, calc(var(--saturation-factor, 1)*86.1%), 77.5%);
    --brand-experiment-400: hsl(241, calc(var(--saturation-factor, 1)*86.1%), 71.8%);
    --brand-experiment-430: hsl(241, calc(var(--saturation-factor, 1)*85.7%), 69.8%);
    --brand-experiment-460: hsl(241, calc(var(--saturation-factor, 1)*85.5%), 67.5%);
    --brand-experiment-500: hsl(241, calc(var(--saturation-factor, 1)*85.6%), 64.7%);
    --brand-experiment-530: hsl(241, calc(var(--saturation-factor, 1)*66.7%), 58.8%);
    --brand-experiment-560: hsl(241, calc(var(--saturation-factor, 1)*51.4%), 52.4%);
    --brand-experiment-600: hsl(241, calc(var(--saturation-factor, 1)*46.7%), 44.1%);
    --brand-experiment-630: hsl(241, calc(var(--saturation-factor, 1)*46.7%), 38.2%);
    --brand-experiment-660: hsl(241, calc(var(--saturation-factor, 1)*47.1%), 33.3%);
    --brand-experiment-700: hsl(241, calc(var(--saturation-factor, 1)*47%), 25.9%);
    --brand-experiment-730: hsl(241, calc(var(--saturation-factor, 1)*46.8%), 24.3%);
    --brand-experiment-760: hsl(241, calc(var(--saturation-factor, 1)*46.9%), 22.2%);
    --brand-experiment-800: hsl(241, calc(var(--saturation-factor, 1)*47.5%), 19.4%);
    --brand-experiment-830: hsl(241, calc(var(--saturation-factor, 1)*47.4%), 14.9%);
    --brand-experiment-860: hsl(241, calc(var(--saturation-factor, 1)*46.9%), 9.6%);
    --brand-experiment-900: hsl(241, calc(var(--saturation-factor, 1)*50%), 3.1%);
    --brand-experiment-05a: hsla(241, calc(var(--saturation-factor, 1)*85.6%), 64.7%, 0.05);
    --brand-experiment-10a: hsla(241, calc(var(--saturation-factor, 1)*85.6%), 64.7%, 0.1);
    --brand-experiment-15a: hsla(241, calc(var(--saturation-factor, 1)*85.6%), 64.7%, 0.15);
    --brand-experiment-20a: hsla(241, calc(var(--saturation-factor, 1)*85.6%), 64.7%, 0.2);
    --brand-experiment-25a: hsla(241, calc(var(--saturation-factor, 1)*85.6%), 64.7%, 0.25);
    --brand-experiment-30a: hsla(241, calc(var(--saturation-factor, 1)*85.6%), 64.7%, 0.3);
    --brand-experiment-35a: hsla(241, calc(var(--saturation-factor, 1)*85.6%), 64.7%, 0.35);
    --brand-experiment-40a: hsla(241, calc(var(--saturation-factor, 1)*85.6%), 64.7%, 0.4);
    --brand-experiment-45a: hsla(241, calc(var(--saturation-factor, 1)*85.6%), 64.7%, 0.45);
    --brand-experiment-50a: hsla(241, calc(var(--saturation-factor, 1)*85.6%), 64.7%, 0.5);
    --brand-experiment-55a: hsla(241, calc(var(--saturation-factor, 1)*85.6%), 64.7%, 0.55);
    --brand-experiment-60a: hsla(241, calc(var(--saturation-factor, 1)*85.6%), 64.7%, 0.6);
    --brand-experiment-65a: hsla(241, calc(var(--saturation-factor, 1)*85.6%), 64.7%, 0.65);
    --brand-experiment-70a: hsla(241, calc(var(--saturation-factor, 1)*85.6%), 64.7%, 0.7);
    --brand-experiment-75a: hsla(241, calc(var(--saturation-factor, 1)*85.6%), 64.7%, 0.75);
    --brand-experiment-80a: hsla(241, calc(var(--saturation-factor, 1)*85.6%), 64.7%, 0.8);
    --brand-experiment-85a: hsla(241, calc(var(--saturation-factor, 1)*85.6%), 64.7%, 0.85);
    --brand-experiment-90a: hsla(241, calc(var(--saturation-factor, 1)*85.6%), 64.7%, 0.9);
    --brand-experiment-95a: hsla(241, calc(var(--saturation-factor, 1)*85.6%), 64.7%, 0.95);
}