@use "src/source";
@use "addons/context-icons"; // Context-Icons By CorellanStoma
@use "addons/settings-icons"; // Settings-Icons By CorellanStoma

:root {
    /* --------- BASE THEME --------- */
    --blurple-replace: #6b69ff;
    --brand-experiment: #6b69ff;
    --brand-experiment-hover: #6b69ffcc;
    
    --blurple-bg: linear-gradient(90deg, rgba(107,105,255,1) 0%, rgba(131,129,254,1) 100%);
    --blurple-bg-alt: linear-gradient(90deg, rgba(131,129,254,1) 0%, rgba(107,105,255,1) 100%);

    --red-bg: linear-gradient(90deg, rgba(243,30,38,1) 0%, rgba(251,64,64,1) 100%);
    --red-bg-alt: linear-gradient(90deg, rgba(251,64,64,1) 0%, rgba(243,30,38,1) 100%);

    --background-primary: #101014;
    --background-secondary: #17161B;
    --background-secondary-alt: #1E1D24;
    --background-tertiary: #101014;
    --background-accent: #17161B;
    --background-floating: #17151B;
    --userarea-background: var(--background-tertiary);

    // 
    --header-primary: #fff;
    --header-secondary: #b9bbbe;
    --activity-card-background: var(--background-secondary);

    --interactive-normal: #b9bbbe;
    --interactive-hover: #dcddde;
    --interactive-active: #ffffff;
    --interactive-muted: rgb(75, 75, 75);

    --background-modifier-hover: rgba(50, 50, 50, 0.16);
    --background-modifier-active: var(--background-tertiary);
    --background-modifier-selected: var(--background-primary);
    --background-modifier-accent: hsla(0, 0%, 100%, 0.06);

    --text-link: #7A79FB;
    --text-normal: #C1C1C5;
    --text-muted: #ffffff50;
    --text-positive: #08DA7A;
    --text-color: #eee;

    --spotify-color: #00D65D;
    --spotify-bg: linear-gradient(320deg,hsl(146deg 100% 42%) 0%,hsl(147deg 98% 43%) 9%,hsl(147deg 96% 43%) 17%,hsl(148deg 95% 44%) 26%,hsl(149deg 94% 44%) 35%,hsl(150deg 93% 44%) 43%,hsl(152deg 93% 44%) 52%,hsl(153deg 94% 44%) 61%,hsl(154deg 95% 44%) 70%,hsl(155deg 96% 43%) 79%,hsl(156deg 98% 43%) 89%,hsl(158deg 100% 42%) 100%);
    --spotify-bg-alt: #02D983;

    --activity-bg: #627ee4;
    --twitch-bg: #6441a5;
    --bot-bg: #546cc4;
    --xbox-bg: #107c10;

    --inner-primary: 5px;
    --radius-primary: 5px;
    --radius-secondary: 5px;

    --background-accent-1: rgb(15, 15, 15, 0.1);
    --background-accent-3: rgb(15, 15, 15, 0.3);
    --background-floating-2: rgba(0, 0, 0, 0.2);

    --scrollbar-auto-thumb: #00000066;
    --scrollbar-auto-track: #17161B99;

    --background-mentioned: #28151D;
    --background-mentioned-hover: #28151Dae;

    --channeltextarea-background: var(--background-secondary);
    --channeltextarea-caret: var(--brand-experiment);
    
    /* [ --BUTTON ACCENTS-- ] */
    --button-brand: var(--brand-experiment);
    --button-brand-hovered: var(--brand-experiment-hover);
    --button-brand-active: var(--brand-experiment-hover);
}

button {
    transition: ease .5s;
    -webkit-transition: ease .5s;
}

.colorGreen-3y-Z79, .liveIndicator-TJKS7N {
    background: var(--spotify-bg);
    color: #fff !important;
    transition: .5s ease;
    border: none;
    outline: none;
}

.colorGreen-3y-Z79:hover {
    background: var(--spotify-bg-alt) !important;
    color: #fff !important;
}

.colorStatusGreen-2HKYOW {
    color: var(--spotify-color) !important;
}

.lookFilled-yCfaCM.colorBrand-I6CyqQ {
    background: var(--blurple-bg);
    color: #fff !important;
}

.lookFilled-yCfaCM.colorBrand-I6CyqQ:hover {
    background: var(--blurple-bg-alt);
}

.colorRed-rQXKgM {
  background: var(--red-bg) !important;
  transition: .5s ease !important;
}

.colorRed-rQXKgM:hover {
  background: var(--red-bg-alt) !important;
}

.lookOutlined-3yKVGo.colorRed-rQXKgM {
  color: #fff !important;
}

.focused-3qFvc8 {
  background: var(--blurple-bg-alt) !important;
}

div[class*="mentioned"]::before {
  background-color: #FF006Bae;
}

.role-2TIOKu {
  background: var(--background-primary);
}

.unread-2wipsx {
    background-color: var(--background-tertiary);
    opacity: 1;
}

.wrapper-3kah-n.selected-1Drb7Z .childWrapper-1j_1ub,
.wrapper-3kah-n:hover .childWrapper-1j_1ub {
    background: var(--brand-experiment);
}

.childWrapper-1j_1ub {
    background-color: var(--background-secondary);
}

.clickable-28SzVr.container-1oeRFJ:hover,
.clickable-28SzVr.container-1oeRFJ:hover .muted-14PyqW {
    background-color: var(--background-primary);
    color: var(--interactive-hover);
}

//  member list 
.members-3WRCEx,
.members-3WRCEx>div {
    background-color: var(--background-primary);
}

.layout-1qmrhw {
    height: 55px;
}

.layout-1qmrhw>	.avatar-6qzftW {
    padding-right: 5px !important;
}

.membersGroup-2eiWxl {
    height: 55px;
}

.activity-2EQDZv {
    height: 25px;
}


/* friends list */
.peopleColumn-1wMU14 {
    background-color: var(--background-primary);
}

// username area
.container-YkUktl {
    background-color: var(--background-secondary);
}

.activityText-1rR-8O {
    color: #838589;
}

.activityText-1rR-8O > strong {
    color: #B8B9BD !important;
}

div[aria-label="Explore Public Servers"] {
    // display: none !important;
    // opacity: 0 !important;
    // cursor: none;
    background-color: var(--background-secondary);
    color: var(--brand-experiment);
}

div[aria-label="Add a Server"] {
    // display: none !important;
    // opacity: 0 !important;
    // cursor: none;
    background-color: var(--background-secondary);
    color: var(--brand-experiment);
}

div[aria-label="Add a Server"]:hover {
    background-color: var(--brand-experiment);
} 

div[aria-label="Explore Public Servers"]:hover,div[aria-label="Explore Public Servers"]:active {
    background-color: var(--brand-experiment) !important;
} 

div[aria-label="Help"] {
    display: none !important;
    opacity: 0 !important;
}

// suggestion menu 
.scroller-18M1mG {
    background-color: var(--background-secondary);
}

.autocomplete-3NRXG8 {
    background-color: var(--background-secondary);
}

.theme-dark .selected-3H3-RC {
    background-color: var(--background-tertiary);
}

.container-2Oqvgx,
.members-3WRCEx {
    width: 260px;
}

.container-2o3qEW {
    background: var(--background-primary);
}

// typing area
.channelTextArea-1FufC0 {
    position: relative;
    margin-bottom: 35px;
    background-color: var(--background-primary);
}

.container-1NXEtd, .privateChannels-oVe7HL, .sidebar-1tnWFu .thin-31rlnD {
    margin-bottom: 10px !important;
}

.numberBadge-37OJ3S {
    color: #eee;
    background-color: var(--brand-experiment) !important;
    margin-left: 10px;
    border-radius: 4px !important;
}

.newMessagesBar-1hF-9G {
    background-color: var(--brand-experiment) !important;
}

.reaction-2A2y9y.reactionMe-3I9gFK {
    background-color: #28151D;
    border-color: #25121A;
    background: linear-gradient(180deg, rgba(38,22,31,1) 50%, rgba(36,16,25,1) 52%);
}

.reaction-2A2y9y {
    background-color: #1D1C21;
    background: linear-gradient(180deg, rgba(24,24,28,1) 50%, rgba(20,20,20,.7) 50%);
}

.unreadRelevant-2f-VSK {
    background-color: var(--brand-experiment);
    width: 2px;
    height: 10px;
    margin-top: -5px;
    border-radius: 4px;
}

.item-2LIpTv {
    background-color: var(--brand-experiment);
    margin-left: -3px;
    border-radius: 2px !important;
}

.containerDefault-YUSmu3, .containerDragAfter-3aBiOW, .containerDragBefore-1s5Qg6, .containerUserOver-SDa1HW {
    padding: 3px 2px;
}

.iconContainer-21RCa3 {
    margin-right: 7px;
}

.containerDefault-3TQ5YN, .containerDragAfter-1J_-1V, .containerDragBefore-ei4h1m, .containerUserOver-3woq86 {
    margin: 5px;
}

.wrapper-1ZcZW-:not(.roleMention-11Aaqi) {
    color: var(--brand-experiment);
    background: transparent !important;
}

.wrapper-NhbLHG.modeSelected-3DmyhH .content-1gYQeQ {
    border-left: 3px solid var(--brand-experiment) !important;
    border-radius: 5px;
}

.wrapper-NhbLHG .content-1gYQeQ:hover {
    background-color: var(--background-primary) !important;
}

.wrapper-NhbLHG.modeConnected-NrO4cP {
    border-left: 3px solid var(--brand-experiment) !important;
    border-radius: 5px;
    background-color: var(--background-primary);
}

.wrapper-NhbLHG.modeConnected-NrO4cP:hover {
    background-color: var(--background-secondary);
}

/*
.userPopout-2j1gM4 .avatarWrapperNormal-ahVUaC.avatarWrapper-eenWra.avatarPositionNormal-2jWoC2.clickable-GKg4Qy > div > .wrapper-1VLyxH .avatarStack-3vfSFa > img {
    border-radius: 40%;
}

:is(#svg-mask-avatar-status-round-80, #svg-mask-avatar-status-mobile-80)>circle:first-of-type {
    r: 100% !important;
}
.userPopout-2j1gM4 :is(.avatar-2Vndt_, .avatar-b5OQ1N, .avatarHintInner-2HUAWj) {
    border-radius: 40%;
} */