/**
 * @name Lavender
 * @version 2.0.0
 * @author Obscure.#4719
 * @authorLink https://github.com/Obscure-Git
 * @description A good looking dark theme!
 * @website https://github.com/lavender-discord/Lavender/tree/main/clients
 * @source https://lavender-discord.github.io/Lavender/clients/betterdiscord.css
 * @invite B9TK7nqRE4
*/

@import url("https://lavender-discord.github.io/Lavender/clients/betterdiscord.css");