@use "src/source";

@use "addons/context-icons";
@use "addons/settings-icons";
@use "addons/emoji-replace";
@use "addons/cooler-activity";
@use "addons/gradient-server";
@use "addons/text-bar";
@use "addons/icons";
@use "addons/colored-svgs";

@use "lavender";

/* Only works if transparency is enabled — Makes the window borders more round*/
.powercord.transparent {
  	 background: transparent !important;
   	border: none !important;
   	outline: none !important;
}
.powercord.transparent #app-mount{
  	 border-radius: 25px !important;
}