.panels-3wFtMD .container-YkUktl:last-child .flex-2S1XBF {
    position: fixed;
    bottom: calc(0% + 155px);
    left: 10px;
    width: 30px;
    z-index: 101;
    max-height: 150px;
    justify-content: space-evenly;
    align-items: center;
    background: var(--background-secondary);
    border-radius: var(--radius-primary);
    flex-direction: column;
    padding: 0px 10px;
  }
  

.container-YkUktl:last-child .flex-2S1XBF > button {
    &:last-child {
      margin-top: 5px;
      padding: 25px !important;
      position: fixed;
      bottom: calc(0% + 90px);
      color: #ADA9F5;
      border-radius: 15px;
      background-color: var(--background-secondary);
      transition: ease .3s;
    }
  
    padding: 25px !important;
    margin: 0px;
    color: #ADA9F5;
    border-radius: var(--radius-primary);
    transition: ease .3s;
  
    &:hover, &:last-child:hover {
      background-color: var(--brand-experiment);
      color: #fff;
      border-radius: 50%;
    }
}
  
.panels-3wFtMD > {
    .container-YkUktl:last-child {
      > .avatarWrapper-1B9FTW {
        position: fixed;
        bottom: calc(0% + 20px);
        left: 13.5px;
      }
  
      .avatar-1EWyVD {
        > svg {
          width: 55px;
          height: 55px;
          border-radius: 50% !important;
        }
  
        width: 55px !important;
        height: 55px !important;
        border-radius: 50% !important;
      }
    }
  
    div:last-child {
      margin-bottom: 0px;
      height: 0;
      width: 0;
    }
}

.guilds-2JjMmN {
    .scrollerBase-_bVAAt {
      max-height: calc(100% - 275px) !important;
      background-color: var(--background-tertiary);
      border-radius: var(--radius-primary);
      padding-bottom: 52px;
  
      div:nth-child(4) {
        align-items: center;
      }
    }
  
    background-color: var(--background-tertiary-alt);
    border-radius: var(--radius-primary);
}
  
/* Game activity toggle */
button {
    &[aria-label="Hide Game Activity"], &[aria-label="Show Game Activity"] {
      background-color: var(--background-secondary);
      border-radius: 10px 10px 0px 0px !important;
    }
  
    &[aria-label="Hide Game Activity"]:hover, &[aria-label="Show Game Activity"]:hover {
      border-radius: 50% !important;
    }
  
    &[aria-label="Hide Game Activity"]::after, &[aria-label="Show Game Activity"]::after {
      content: "";
      position: absolute;
      width: 50px;
      height: 50px;
      left: 0px;
      z-index: -101;
      background-color: var(--background-secondary);
      border-radius: 10px 10px 0px 0px !important;
    }
  
    &[aria-label="Hide Game Activity"]::before, &[aria-label="Show Game Activity"]::before {
      content: "";
      position: absolute;
      background-color: var(--background-tertiary-alt);
      width: 70px;
      height: 70px;
      left: -10px;
      z-index: -101;
      top: -20px;
    }
}