.quickswitcher-pKcM9U {
    height: 100%;

    .result-u66Ywh {
        border-radius: var(--radius-secondary);
        .contentDefault-17ewQQ.content-vQY7Mf{
            border-radius: var(--radius-secondary);
        }
    }

    .content-2a4AW9 {
        height: 100% !important;
    }

    .header-1ZpMzy{
        font-weight: 700;
    }
}