.chatContent-3KubbW .buttons-uaqb-5 .expression-picker-chat-input-button:nth-of-type(1)>button:not(.active-z80xEj) {
    animation: slideOut 0.6s forwards;
    margin-left: -10px;
}

.chatContent-3KubbW .buttons-uaqb-5 .expression-picker-chat-input-button:nth-of-type(2)>button:not(.active-z80xEj) {
    animation: slideOut2 0.6s forwards;
}

.chatContent-3KubbW .buttons-uaqb-5:hover .expression-picker-chat-input-button:nth-of-type(1)>button:not(.active-z80xEj),
.chatContent-3KubbW .buttons-uaqb-5:hover .expression-picker-chat-input-button:nth-of-type(2)>button:not(.active-z80xEj) {
    animation: slideIn 0.4s forwards;
    display: flex;
}

.chatContent-3KubbW .buttons-uaqb-5 .expression-picker-chat-input-button:nth-of-type(1)>button.active-z80xEj {
    margin-right: 5px !important;
    margin-left: -10px !important;
}

@keyframes slideIn {
    from {
        right: -40px;
        display: none;
    }

    to {
        right: 0px;
        display: block;
    }
}

@keyframes slideOut {
    from {
        right: 0px;
        display: block;
    }

    to {
        right: -80px;
        position: fixed;
    }
}

@keyframes slideOut2 {
    from {
        right: 0px;
        display: block;
    }

    to {
        right: -99px;
        position: fixed;
    }
}