/* This is a temporary file to display a outdated notification for lavender v2 users */

#app-mount:before {
  content: "You version of Lavender is outdated, please download the latest version from the source. (Source can be found in your theme settings)" !important;
  display: block;
  background-color: var(--brand-experiment);
  color: #fff;
  flex-grow: 0;
  flex-shrink: 0;
  font-size: 16px;
  font-weight: 700;
  height: auto;
  line-height: 16px;
  opacity: 1;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  position: relative;
  text-align: center;
  visibility: unset;
  white-space: pre-wrap;
  top: 0;
  left: 0;
  bottom: unset;
  right: unset;
  max-width: 2000px;
  min-width: unset;
  max-height: unset;
  min-height: unset;
  transform: unset;
  animation: unset;
  z-index: 999999;
  pointer-events: none;
}
