[aria-label^="Gradient"] .container-1-ERn5 .header-3OsQeK .name-3Uvkvr::after {
	content: "";
            background: url("https://emoji.gg/assets/emoji/8640-blurpleverified.png") center/100% no-repeat;
            padding: 1px 8px 0px 8px;
            margin-left: 4px;
}