[aria-label^="Gradient"] .container-1-ERn5 .header-3OsQeK .name-3Uvkvr::before,
[aria-label^="Lavender"] .container-1-ERn5 .header-3OsQeK .name-3Uvkvr::before {
	content: "";
            background: url("https://lavender-discord.github.io/Lavender/assets/logo.png") center/100% no-repeat;
            padding: 1px 8px 0px 8px;
            margin-right: 6px;
}

[aria-label^="Gradient"] .container-1-ERn5 .header-3OsQeK .name-3Uvkvr::after {
	content: "Lavender Official Server";
	font-size: 12px;
	position: absolute;
	background-color: var(--background-primary);
	box-shadow: 5px 5px 8px 1px rgba(0,0,0,0.15);
	-webkit-box-shadow: 5px 5px 8px 1px rgba(0,0,0,0.15);
	padding: 5px 10px;
	border-radius: 4px;
	opacity: 0;
	display: none;
	animation: anim .5s forwards;
}

@keyframes anim {
	from {left: 5px; top: 35px; opacity: 0; display: none;}
	to {left: 10px; top: 40px; opacity: 1; display: block;}
}

[aria-label^="Gradient"] .container-1-ERn5 .header-3OsQeK .name-3Uvkvr:hover::after {
	opacity: 1;
	display: block;
}

.container-1NXEtd[aria-label^="Gradient"] .mainContent-uDGa6R[aria-label^="Lavender"] {
	padding-left: 25px;
}

.container-1NXEtd[aria-label^="Gradient"] .mainContent-uDGa6R[aria-label^="Lavender"]::before {
	content: "";
            background: url("https://lavender-discord.github.io/Lavender/assets/logo.png") center/100% no-repeat;
            padding: 0px 8px 0px 8px;
            margin-left: 15px;
	display: block;
    	position: absolute;
    	top: 0 !important;
    	right: unset !important;
    	bottom: 0 !important;
    	left: 0 !important;
}