@import url("https://lavender-discord.github.io/Settings-Iconsax/src/allignment.css");
/* Don't remove this line because its important lol*/

@import url("https://lavender-discord.github.io/Settings-Iconsax/src/activity-settings.css");
@import url("https://lavender-discord.github.io/Settings-Iconsax/src/app-settings.css");
@import url("https://lavender-discord.github.io/Settings-Iconsax/src/community.css");
@import url("https://lavender-discord.github.io/Settings-Iconsax/src/other.css");
@import url("https://lavender-discord.github.io/Settings-Iconsax/src/payment-settings.css");
@import url("https://lavender-discord.github.io/Settings-Iconsax/src/powercord.css");
@import url("https://lavender-discord.github.io/Settings-Iconsax/src/server.css");
@import url("https://lavender-discord.github.io/Settings-Iconsax/src/user-management.css");
@import url("https://lavender-discord.github.io/Settings-Iconsax/src/user-settings.css");