/* Modification of:
    * Bubble Bar @ version 1.2.0
    * By: @LuckFire#4800
    * Source https://github.com/Discord-Theme-Addons/bubble-bar
*/

/*═══════════════════════════════════════════════════════════════════════════════════════════════════════
                                    Buttons in Text bar
   ═══════════════════════════════════════════════════════════════════════════════════════════════════════ */

[aria-label="Send en gave"],
[aria-label="Ein Geschenk senden"],
[aria-label="Send a gift"],
[aria-label="Enviar un regalo"],
[aria-label="Envoyer un cadeau"],
[aria-label="Pošalji poklon"],
[aria-label="Invia un regalo"],
[aria-label="Siųsti dovaną"],
[aria-label="Ajándék küldése"],
[aria-label="Verstuur een cadeau"],
[aria-label="Wyślij prezent"],
[aria-label="Enviar um presente"],
[aria-label="Trimite un cadou"],
[aria-label="Lähetä lahja"],
[aria-label="Skicka en gåva"],
[aria-label="Tặng một món quà"],
[aria-label="Bir hediye gönder"],
[aria-label="Odeslat dárek"],
[aria-label="Στείλτε ένα δώρο"],
[aria-label="Изпрати подарък"],
[aria-label="Отправить подарок"],
[aria-label="Надіслати подарунок"],
[aria-label="ส่งของขวัญ"],
[aria-label="发送礼物"],
[aria-label="ギフトを贈る"],
[aria-label="發送禮物"],
[aria-label="선물 보내기"] {
  display: none !important;
}

/*
[aria-label="Open sticker picker"] {
   animation: slideOut 1.2s forwards;
}

 [aria-label="Open GIF picker"] {
   animation: slideOut2 1.2s forwards;
}

.buttons-uaqb-5:hover [aria-label="Open GIF picker"] {
   animation: slideIn .4s forwards;
   display: flex;
}

.buttons-uaqb-5:hover [aria-label="Open sticker picker"] {
   animation: slideIn .4s forwards;
   display: flex;
}

@keyframes slideIn {
   from {right: -40px; display: none;}
   to {right: 0px; display: block;}
}

@keyframes slideOut {
   from {right: 0px; display: block;}
   to {right: -80px; position: fixed;}
}

@keyframes slideOut2 {
   from {right: 0px; display: block;}
   to {right: -160px; position: fixed;}
}
*/

[aria-label="Open GIF picker"], [aria-label="Open sticker picker"] {
    display: none;
}


.sprite-2lxwfc { 
    filter: grayscale(0) !important;
}

.form-3gdLxP .attachButton-1ijpt9 {
    margin-left: -12px;
    margin-right: -10px;
}

.form-3gdLxP .attachButton-1ijpt9 .attachButtonPlay-1ATmb5 {
    fill: var(--spotify-color);
}

.channelTextArea-1VQBuV .buttons-uaqb-5 {
    margin-right: 10px;
}

.channelTextArea-1VQBuV button {
    width: 42px;
    height: 42px;
    margin-top: 0;
    margin-left: 0px;
    border-radius: var(--radius-primary);
    background-color: var(--background-secondary);
}

/* ═══════════════════════════════════════════════════════════════════════════════════════════════════════
                                    Text Bar Area
   ═══════════════════════════════════════════════════════════════════════════════════════════════════════ */


.channelTextArea-1VQBuV .scrollableContainer-15eg7h {
    background-color: transparent;
}


.channelTextArea-1VQBuV .scrollableContainer-15eg7h::before {
    content: " ";
    position: absolute;
    background-color: var(--background-secondary);
    width: calc(100% - 68px);
    height: 44px;
    margin-left: 7px;
    border-radius: var(--radius-primary);
}

.channelAttachmentArea-HwpkuQ {
    background-color: var(--background-secondary);
    width: calc(100% - 80px);
    height: 270px;
    border-radius: var(--radius-primary);
    margin-bottom: -50px;
    margin-left: 4px;
}

.channelTextArea-1FufC0 {
    position: relative;
    margin-bottom: 45px;
    background-color: var(--background-primary);
}

.channelTextArea-1VQBuV .textArea-2CLwUE {
    border-radius: var(--radius-primary);
    background-color: var(--background-secondary);
}

.channelTextArea-1VQBuV .slateTextArea-27tjG0 {
    caret-color: var(--channeltextarea-caret, var(--brand-experiment));
}

/* [ --EDITING-- ] */
.channelTextArea-220_Gz > div {
    border-radius: var(--radius-primary);
}

.channelTextArea-1VQBuV button {
    transition: ease .3s;
}

/* [ --FORM-- ] */
.scrollerSpacer-3AqkT9 {
    height: 10px;
}

.form-3gdLxP {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    margin-top: 15px;
    margin-bottom: -8px;
}
.form-3gdLxP .textArea-2CLwUE > div {
    left: 16px;
}

.form-3gdLxP .scrollableContainer-15eg7h {
    margin-right: -12px;
}

.form-3gdLxP .separator-3ng7S5 {
    margin-left: 5px;
}

.form-3gdLxP .separator-3ng7S5::before {
    display: none;
}

.form-3gdLxP .separator-3ng7S5 .button-y6hemj::before {
    z-index: -1;
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 42px;
    height: 42px;
    border-radius: var(--radius-primary);
    transition: ease .5s;
    -webkit-transition: ease .5s;
}

.form-3gdLxP .separator-3ng7S5 button{
    background: transparent;
    transition: ease .5s;
    -webkit-transition: ease .5s;
}

.form-3gdLxP .separator-3ng7S5 .button-y6hemj svg {
    margin-left: -5px;
    opacity: 1;
    color: var(--text-disabled);
    transition: ease .5s;
    -webkit-transition: ease .5s;
}
.form-3gdLxP .separator-3ng7S5 .button-y6hemj[disabled]::before {
    background-color: var(--background-secondary);
    transition: ease .5s;
    -webkit-transition: ease .5s;
}
.form-3gdLxP .separator-3ng7S5 .button-y6hemj:not([disabled]) svg {
    opacity: 1;
    color: #eee;
    transition: ease .5s;
    -webkit-transition: ease .5s;
}
.form-3gdLxP .separator-3ng7S5 .button-y6hemj:not([disabled])::before {
    background: var(--blurple-bg);
    transition: ease .5s;
    -webkit-transition: ease .5s;
}
.form-3gdLxP .separator-3ng7S5 .button-y6hemj:not([disabled]):hover::before {
    background: var(--blurple-bg-alt);
    -webkit-transition: ease .5s;
}
.form-3gdLxP .separator-3ng7S5 .button-y6hemj:not([disabled]):active::before {
    background: var(--blurple-bg-alt);
    -webkit-transition: ease .5s;
}
.form-3gdLxP .base-3bcbY3 {
    position: relative;
    margin-top: -14px;
    margin-bottom: 15px;
    margin-left: -32px;
    background-color: var(--background-secondary);
    z-index: 1;
}
.form-3gdLxP .base-3bcbY3 .cooldownWrapper-2k1jHK {
    margin-right: 5px;
}
.form-3gdLxP .attachedBars-2BCP3l {
    margin-top: -15px;
    margin-right: -16px;
    margin-bottom:  15px;
    margin-left: -16px;
    border-radius: 0;
    background-color: var(--background-secondary);
    transition: ease .5s;
    -webkit-transition: ease .5s;
}
.form-3gdLxP .replyBar-1oi75v {
    height: 36px;
    background-color: var(--background-secondary);
}
.form-3gdLxP .replyBar-1oi75v .separator-8ngZ3p {
    display: none;
}
.form-3gdLxP .replyBar-1oi75v .closeButton-3IEry2 {
    position: absolute;
    left: -20px;
}
.form-3gdLxP .replyBar-1oi75v .replyLabel-WWnhHi {
    margin-left: 45px;
}
.form-3gdLxP .replyBar-1oi75v .colorLink-2apWfY {
    color: var(--brand-experiment-360);
}
.form-3gdLxP .threadSuggestionBar-3ExSyc {
    background-color: var(--background-secondary);
}
.form-3gdLxP .channelAttachmentArea-1wlgJV {
    margin-top: -11px;
    margin-bottom: 5px;
}
.form-3gdLxP .divider-2rZFJK {
    display: none;
}
.form-3gdLxP .characterCount-8yNPfb {
    display: block;
}


/* ═══════════════════════════════════════════════════════════════════════════════════════════════════════
                                    Jump to Present Button
   ═══════════════════════════════════════════════════════════════════════════════════════════════════════ */


.jumpToPresentBar-1cEnH0 {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    left: calc(100% - 56px);
    width: 40px;
    height: 40px;
    padding: 0;
    margin-bottom: 10px;
    border-radius: var(--radius-primary);
    background-color:  var(--background-secondary) !important;
    transition: ease .3s;
    -webkit-transition: ease .3s;
}
.jumpToPresentBar-1cEnH0:hover {
    background-color: #00000050;
}
.jumpToPresentBar-1cEnH0:active {
    margin-bottom: 10px;
    background-color: var(--background-secondary) !important;
    opacity: 0.8;
}
.jumpToPresentBar-1cEnH0 .barButtonMain-2GIx4o {
    display: none;
}

.jumpToPresentBar-1cEnH0 .barButtonAlt-TQoCdZ {
    font-size: 0;
}
.jumpToPresentBar-1cEnH0 .barButtonIcon-bMvzp2 {
    top: 0;
    width: 30px;
    height: 30px;
    margin-left: 0;
}
.jumpToPresentBar-1cEnH0 .spinner-2RT7ZC {
    margin-left: 12px;
}

/* ═══════════════════════════════════════════════════════════════════════════════════════════════════════
                                    Auto Complete
   ═══════════════════════════════════════════════════════════════════════════════════════════════════════ */


#app-mount .autocompleteAttached-bt_md-,
#app-mount .autocomplete-3NRXG8 {
    right: -16px;
    bottom: 59px;
    left: -16px;
    padding-left: 6px;
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    background-color: var(--background-secondary);
}
#app-mount .autocomplete-3NRXG8 {
    padding-left: 0;
}
#app-mount .autocomplete-3NRXG8 .categoryHeader-OpJ1Ly {
    background-color: var(--background-secondary);
}

.theme-dark .selected-3H3-RC {
    background-color: var(--background-tertiary);
}