.theme-dark,
.theme-light {
    --code-background: var(--background-secondary);
    --code-white: #cfc9c2;
    --code-red: #f7768e;
    --code-green: #9ece6a;
    --code-aqua: #7dcfff;
    --code-light-green: #b4f9f8;
    --code-yellow: #e0af68;
    --code-orange: #ff9e64;
}