@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@100;200;300;400;500;600;700;800;900&display=swap');

.theme-dark:root {
    --font: "Source Sans Pro", sans-serif;
    --font-display: "Source Sans Pro", sans-serif;

    --blurple-replace: #6b69ff;
    --brand-experiment: #6b69ff;
    --brand-experiment-hover: #6b69ffcc;
    
    --blurple-bg: linear-gradient(90deg, rgba(107,105,255,1) 0%, rgba(131,129,254,1) 100%);
    --blurple-bg-alt: linear-gradient(90deg, rgba(131,129,254,1) 0%, rgba(107,105,255,1) 100%);

    --red-bg: linear-gradient(90deg, rgba(243,30,38,1) 0%, rgba(251,64,64,1) 100%);
    --red-bg-alt: linear-gradient(90deg, rgba(251,64,64,1) 0%, rgba(243,30,38,1) 100%);

    --background-primary: #101014;
    --background-secondary: #17161B;
    --background-secondary-alt: #1E1D24;
    --background-tertiary: #101014;
    --background-accent: #17161B;
    --background-floating: #17151B;
    --userarea-background: var(--background-tertiary);

    --header-primary: #fff;
    --header-secondary: #b9bbbe;
    --activity-card-background: var(--background-secondary);

    --interactive-normal: #D9DDE2;
    --interactive-hover: #eee;
    --interactive-active: #E9EEF2;
    --interactive-muted: rgb(75, 75, 75);

    --background-modifier-hover: var(--background-secondary);
    --background-modifier-active: var(--background-secondary);
    --background-modifier-selected: var(--background-secondary);
    --background-modifier-accent: hsla(0, 0%, 100%, 0.06);

    --text-link: var(--brand-experiment);
    --text-normal: #C1C1C5;
    --text-muted: #ffffff40;
    --text-positive: #08DA7A;
    --text-color: #eee;

    --spotify-color: #00D65D;
    --spotify-bg: linear-gradient(320deg,hsl(146deg 100% 42%) 0%,hsl(147deg 98% 43%) 9%,hsl(147deg 96% 43%) 17%,hsl(148deg 95% 44%) 26%,hsl(149deg 94% 44%) 35%,hsl(150deg 93% 44%) 43%,hsl(152deg 93% 44%) 52%,hsl(153deg 94% 44%) 61%,hsl(154deg 95% 44%) 70%,hsl(155deg 96% 43%) 79%,hsl(156deg 98% 43%) 89%,hsl(158deg 100% 42%) 100%);
    --spotify-bg-alt: #02D983;

    --activity-bg: var(--blurple-bg);
    --twitch-bg: linear-gradient(90deg, rgba(105,2,244,1) 0%, rgba(208,3,255,1) 100%);
    --bot-bg: var(--blurple-bg-alt);
    --xbox-bg: linear-gradient(90deg, rgba(0,172,65,1) 0%, rgba(124,203,48,1) 100%);

    --inner-primary: 10px;
    --radius-primary: 10px;
    --radius-secondary: 10px;

    --background-accent-1: rgb(15, 15, 15, 0.1);
    --background-accent-3: rgb(15, 15, 15, 0.3);
    --background-floating-2: rgba(0, 0, 0, 0.2);

    --scrollbar-auto-thumb: #00000066;
    --scrollbar-auto-track: #17161B99;

    --background-mentioned: #28151D;
    --background-mentioned-hover: #28151Dae;

    --channeltextarea-background: var(--background-secondary);
    --channeltextarea-caret: var(--brand-experiment);
    --channels-default: #808080;
    
    --button-brand: var(--brand-experiment);
    --button-brand-hovered: var(--brand-experiment-hover);
    --button-brand-active: var(--brand-experiment-hover);

    --deprecated-quickswitcher-input-background: var(--background-primary);
    --deprecated-quickswitcher-input-placeholder: hsla(0,0%,100%,0.35);
}


*, html, ::placeholder, body, button, div, span, h1, h2, h3, p, a, input, select, textarea{
    font-family: var(--font) !important;
}

::selection{
    background-color: var(--brand-experiment) !important;
    color: #fff !important;
}