@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@500;600;700&display=swap');
@import url("https://dev-cats.github.io/code-snippets/JetBrainsMono.css");

.theme-dark:root {
  /* Chat, channels, etc... */
  --font-primary: "Source Sans Pro", sans-serif;

  /* Server/channel/roles/etc (font with that awful G) */
  --font-display: "Source Sans Pro", sans-serif;

  /* Codeblocks */
  --font-code: "JetBrainsMono", "Fira Code", "Source Sans Pro", sans-serif;

  --blurple-replace: #7E7BFE;
  --brand-experiment: #7E7BFE;
  --brand-experiment-hover: #7E7BFEcc;

  --blurple-bg: linear-gradient(90deg, rgba(107, 105, 255, 1) 0%, rgba(131, 129, 254, 1) 100%);
  --blurple-bg-alt: #6C6AFF;

  --red-bg: linear-gradient(90deg, rgba(243, 30, 38, 1) 0%, rgba(251, 64, 64, 1) 100%);
  --red-bg-alt: #F42028;

  --background-primary: #101014;
  --background-secondary: #17161B;
  --background-secondary-alt: #1E1D24;
  --background-tertiary: #101014;
  --background-accent: #17161B;
  --background-floating: #17151B;
  --userarea-background: var(--background-tertiary);

  --header-primary: #fff;
  --header-secondary: #b9bbbe;
  --activity-card-background: var(--background-secondary);

  --interactive-normal: #D9DDE2cc;
  --interactive-hover: #eee;
  --interactive-active: #D9DDE2;
  --interactive-muted: rgb(75, 75, 75);

  --background-modifier-hover: var(--background-secondary);
  --background-modifier-active: var(--background-secondary);
  --background-modifier-selected: var(--background-secondary);
  --background-modifier-accent: hsla(0, 0%, 100%, 0.06);

  --text-link: var(--brand-experiment);
  --text-normal: #C1C1C5;
  --text-muted: #ffffff40;
  --text-positive: #08DA7A;
  --text-color: #eee;

  --spotify-color: #00D65D;
  --spotify-bg: linear-gradient(320deg, hsl(146deg 100% 42%) 0%, hsl(147deg 98% 43%) 9%, hsl(147deg 96% 43%) 17%, hsl(148deg 95% 44%) 26%, hsl(149deg 94% 44%) 35%, hsl(150deg 93% 44%) 43%, hsl(152deg 93% 44%) 52%, hsl(153deg 94% 44%) 61%, hsl(154deg 95% 44%) 70%, hsl(155deg 96% 43%) 79%, hsl(156deg 98% 43%) 89%, hsl(158deg 100% 42%) 100%);
  --spotify-bg-alt: #02D983;

  --activity-bg: var(--blurple-bg);
  --twitch-bg: linear-gradient(90deg, rgba(105, 2, 244, 1) 0%, rgba(208, 3, 255, 1) 100%);
  --bot-bg: var(--blurple-bg-alt);
  --xbox-bg: linear-gradient(90deg, rgba(0, 172, 65, 1) 0%, rgba(124, 203, 48, 1) 100%);

  --inner-primary: 10px;
  --radius-primary: 10px;
  --radius-secondary: 10px;

  --background-accent-1: rgb(15, 15, 15, 0.1);
  --background-accent-3: rgb(15, 15, 15, 0.3);
  --background-floating-2: rgba(0, 0, 0, 0.2);

  --scrollbar-auto-thumb: #00000066;
  --scrollbar-auto-track: #17161B99;

  --background-mentioned: #28151D;
  --background-mentioned-hover: #28151Dae;

  --channeltextarea-background: var(--background-secondary);
  --channeltextarea-caret: var(--brand-experiment);
  --channels-default: #707070;

  --button-brand: var(--brand-experiment);
  --button-brand-hovered: var(--brand-experiment-hover);
  --button-brand-active: var(--brand-experiment-hover);

  --deprecated-quickswitcher-input-background: var(--background-primary);
  --deprecated-quickswitcher-input-placeholder: hsla(0, 0%, 100%, 0.35);

  --toast-background: var(--background-secondary);
  --toast-header: var(--background-primary);
  --toast-contents: var(--background-secondary-alt);
  --toast-box-shadow: rgba(0, 0, 0, .2);
  --toast-border: rgba(28, 36, 43, .6);

  --context-icon-size: 21px;
  --context-menu-width: inherit;
  --context-menu-radius: 10px;
  --context-menu-spacing: 0px;
  --context-button-radius: 5px;
  --context-icon-spacing: 8px;
  --context-settings-height: 60vh;
  --context-disabled-opacity: 0.3;
  --separator-spacing-height: 4px;
  --separator-spacing-width: 2px;
  --danger-background-radius: 4px;
  --slider-background-radius: 4px;
}

code {
  font-family: 'JetBrains Mono';
  -webkit-font-feature-settings: "liga"on, "calt"on;
  text-rendering: optimizeLegibility;
}

::selection {
  background-color: var(--brand-experiment) !important;
  color: #fff !important;
}