.theme-dark {
  .root-g14mjS, .container-1Lk8p7 {
      background: var(--inv-dark-background-primary) !important;
      box-shadow: none !important;
      -webkit-box-shadow: none !important;
  }
  
  .contentWrapper-3oy4Xo {
    background: var(--inv-dark-background-secondary) !important;
  }
    
    .root-g14mjS .container-1Lk8p7 .footer-31IekZ {
      background: var(--inv-dark-background-secondary) !important;
      border-color: rgba(0, 0, 0);
      box-shadow: none;
    }
    
    .root-g14mjS .container-1Lk8p7 {
      .templatesList-uohY49 {
        height: 335px;
      }
    
      div {
        &[class*="colorHeaderSecondary-g5teka size16-rrJ6ag subtitle-3m-md1"], &[class*="colorHeaderSecondary-g5teka size12-oc4dx4 optionHeader-27AHfD"], &[class*="colorHeaderSecondary-g5teka size16-rrJ6ag subtitle-1cc8Nz"], &[class*="colorHeaderSecondary-g5teka size14-3fJ-ot skip-2hTIXL"], &[class*="colorHeaderSecondary-g5teka size16-rrJ6ag subtitle-bIoUVX"], &[class*="colorHeaderSecondary-g5teka size14-3fJ-ot"], &[class*="colorMuted-20987_ size12-oc4dx4 guidelines-FvqqF2"] {
          color: var(--inv-dark-text) !important;
        }
      }
    
      h5 {
        &[class*="colorStandard-21JIj7 size14-3fJ-ot h5-2RwDNl title-3hptVQ formTitle-2YQyhj"], &[class*="colorStandard-21JIj7 size14-3fJ-ot h5-2RwDNl title-3hptVQ defaultMarginh5-3Jxf6f"] {
          color: var(--inv-dark-text) !important;
        }
      }
    
      .container-x8Y1ix {
        background: var(--inv-dark-background-secondary) !important;
        margin-bottom: 8px;
        transition: all .3s ease;
        border: none;
    
        &:hover, &:active {
          background: var(--inv-dark-background-tertiary) !important;
        }
      }
    
      .base-21yXnu, .colorStandard-21JIj7 {
        color: var(--inv-dark-text-alt) !important;
      }
    
      .footerButton-24QPis {
        background: var(--green) !important;
        color: #fff;
        transition: .3s ease;
    
        &:hover {
          box-shadow: inset 0px 100px 0px 0px var(--green-hover) !important;
          -webkit-box-shadow: inset 0px 100px 0px 0px var(--green-hover) !important;
        }
      }
    
      .sampleLink-5BWNy9 {
        color: var(--inv-dark-text-alt) !important;
      }
    
      button {
        &[class*="backButton-2Ps-B8 button-f2h6uQ lookBlank-21BCro colorBrand-I6CyqQ sizeMin-DfpWCE grow-2sR_-F"], &[class*="button-f2h6uQ lookLink-15mFoz lowSaturationUnderline-Z6CW6z colorPrimary-2AuQVo sizeMin-DfpWCE grow-2sR_-F"], &[class*="button-f2h6uQ lookBlank-21BCro colorBrand-I6CyqQ sizeMin-DfpWCE grow-2sR_-F"] {
          color: var(--inv-dark-text) !important;
        }
      }
    }
    
    .root-g14mjS .container-1Lk8p7 .lookLink-15mFoz.colorPrimary-2AuQVo, .root-g14mjS .container-1Lk8p7 .anchor-1MIwyf {
      color: var(--inv-dark-text) !important;
    }
    
    .inputWrapper-1YNMmM input {
      color: #fff !important;
    }
    
    .input-m1-Y7Q, .rowContainer-3t7486 {
      background: var(--inv-dark-background-secondary) !important;
    }
  
    .input-2g-os5 {
      background: var(--inv-dark-background-secondary) !important;
    }
  }

// 
// 
// 
// 
// 
// 
// 
// 
// 

.theme-light {
  .root-g14mjS, .container-1Lk8p7 {
      background: var(--inv-light-background-primary) !important;
      box-shadow: none !important;
      -webkit-box-shadow: none !important;
  }
  
  .contentWrapper-3oy4Xo {
    background: var(--inv-light-background-secondary) !important;
  }
    
    .root-g14mjS .container-1Lk8p7 .footer-31IekZ {
      background: var(--inv-light-background-secondary) !important;
      border-color: rgba(0, 0, 0);
      box-shadow: none;
    }
    
    .root-g14mjS .container-1Lk8p7 {
      .templatesList-uohY49 {
        height: 335px;
      }
    
      div {
        &[class*="colorHeaderSecondary-g5teka size16-rrJ6ag subtitle-3m-md1"], &[class*="colorHeaderSecondary-g5teka size12-oc4dx4 optionHeader-27AHfD"], &[class*="colorHeaderSecondary-g5teka size16-rrJ6ag subtitle-1cc8Nz"], &[class*="colorHeaderSecondary-g5teka size14-3fJ-ot skip-2hTIXL"], &[class*="colorHeaderSecondary-g5teka size16-rrJ6ag subtitle-bIoUVX"], &[class*="colorHeaderSecondary-g5teka size14-3fJ-ot"], &[class*="colorMuted-20987_ size12-oc4dx4 guidelines-FvqqF2"] {
          color: var(--inv-light-text);
        }
      }
    
      h5 {
        &[class*="colorStandard-21JIj7 size14-3fJ-ot h5-2RwDNl title-3hptVQ formTitle-2YQyhj"], &[class*="colorStandard-21JIj7 size14-3fJ-ot h5-2RwDNl title-3hptVQ defaultMarginh5-3Jxf6f"] {
          color: var(--inv-light-text);
        }
      }
    
      .container-x8Y1ix {
        background: var(--inv-light-background-secondary) !important;
        margin-bottom: 8px;
        transition: all .3s ease;
        border: none;
    
        &:hover, &:active {
          background: var(--inv-light-background-tertiary) !important;
        }
      }
    
      .base-21yXnu, .colorStandard-21JIj7 {
        color: var(--inv-light-text-alt);
      }
    
      .footerButton-24QPis {
        background: var(--green) !important;
        color: var(--inv-light-text);
        transition: .3s ease;
    
        &:hover {
          box-shadow: inset 0px 100px 0px 0px var(--green-hover) !important;
          -webkit-box-shadow: inset 0px 100px 0px 0px var(--green-hover) !important;
        }
      }
    
      .sampleLink-5BWNy9 {
        color: var(--inv-light-text);
      }
    
      button {
        &[class*="backButton-2Ps-B8 button-f2h6uQ lookBlank-21BCro colorBrand-I6CyqQ sizeMin-DfpWCE grow-2sR_-F"], &[class*="button-f2h6uQ lookLink-15mFoz lowSaturationUnderline-Z6CW6z colorPrimary-2AuQVo sizeMin-DfpWCE grow-2sR_-F"], &[class*="button-f2h6uQ lookBlank-21BCro colorBrand-I6CyqQ sizeMin-DfpWCE grow-2sR_-F"] {
          color: var(--inv-light-text);
        }
      }
    }
    
    .root-g14mjS .container-1Lk8p7 .lookLink-15mFoz.colorPrimary-2AuQVo, .root-g14mjS .container-1Lk8p7 .anchor-1MIwyf {
      color: var(--inv-light-text);
    }
    
    .inputWrapper-1YNMmM input {
      color: var(--inv-input-color) !important;
    }
    
    .input-m1-Y7Q, .rowContainer-3t7486 {
      background: var(--inv-light-background-secondary) !important;
    }
  
    .input-2g-os5 {
      background: var(--inv-light-background-secondary) !important;
    }
}