.theme-light .root-g14mjS, .container-1Lk8p7 {
    background: #101014 !important;
}

.theme-dark .contentWrapper-3oy4Xo {
  background: var(--background-secondary) !important;
}
  
  .theme-light .root-g14mjS .container-1Lk8p7 .footer-31IekZ {
    background: #17161B !important;
    border-color: rgba(0, 0, 0);
    box-shadow: none;
  }
  
  .root-g14mjS .container-1Lk8p7 {
    .templatesList-uohY49 {
      height: 335px;
    }
  
    div {
      &[class*="colorHeaderSecondary-g5teka size16-rrJ6ag subtitle-3m-md1"], &[class*="colorHeaderSecondary-g5teka size12-oc4dx4 optionHeader-27AHfD"], &[class*="colorHeaderSecondary-g5teka size16-rrJ6ag subtitle-1cc8Nz"], &[class*="colorHeaderSecondary-g5teka size14-3fJ-ot skip-2hTIXL"], &[class*="colorHeaderSecondary-g5teka size16-rrJ6ag subtitle-bIoUVX"], &[class*="colorHeaderSecondary-g5teka size14-3fJ-ot"], &[class*="colorMuted-20987_ size12-oc4dx4 guidelines-FvqqF2"] {
        color: #C1C1C5;
      }
    }
  
    h5 {
      &[class*="colorStandard-21JIj7 size14-3fJ-ot h5-2RwDNl title-3hptVQ formTitle-2YQyhj"], &[class*="colorStandard-21JIj7 size14-3fJ-ot h5-2RwDNl title-3hptVQ defaultMarginh5-3Jxf6f"] {
        color: #C1C1C5;
      }
    }
  
    .container-x8Y1ix {
      background: #17161B !important;
      margin-bottom: 8px;
  
      &:hover, &:active {
        background-color: #1E1D24;
      }
    }
  
    .base-21yXnu, .colorStandard-21JIj7 {
      color: #D9DDE2;
    }
  
    .footerButton-24QPis {
      background: linear-gradient(320deg, hsl(146deg 100% 42%) 0%, hsl(147deg 98% 43%) 9%, hsl(147deg 96% 43%) 17%, hsl(148deg 95% 44%) 26%, hsl(149deg 94% 44%) 35%, hsl(150deg 93% 44%) 43%, hsl(152deg 93% 44%) 52%, hsl(153deg 94% 44%) 61%, hsl(154deg 95% 44%) 70%, hsl(155deg 96% 43%) 79%, hsl(156deg 98% 43%) 89%, hsl(158deg 100% 42%) 100%) !important;
      color: #fff;
      transition: .3s ease;
  
      &:hover {
        box-shadow: inset 0px 100px 0px 0px #02D983 !important;
        -webkit-box-shadow: inset 0px 100px 0px 0px #02D983 !important;
      }
    }
  
    .sampleLink-5BWNy9 {
      color: #C1C1C5;
    }
  
    button {
      &[class*="backButton-2Ps-B8 button-f2h6uQ lookBlank-21BCro colorBrand-I6CyqQ sizeMin-DfpWCE grow-2sR_-F"], &[class*="button-f2h6uQ lookLink-15mFoz lowSaturationUnderline-Z6CW6z colorPrimary-2AuQVo sizeMin-DfpWCE grow-2sR_-F"], &[class*="button-f2h6uQ lookBlank-21BCro colorBrand-I6CyqQ sizeMin-DfpWCE grow-2sR_-F"] {
        color: #C1C1C5;
      }
    }
  }
  
  .theme-light .root-g14mjS .container-1Lk8p7 .lookLink-15mFoz.colorPrimary-2AuQVo, .root-g14mjS .container-1Lk8p7 .anchor-1MIwyf {
    color: #C1C1C5;
  }
  
  .inputWrapper-1YNMmM input {
    color: #fff !important;
  }
  
  .input-m1-Y7Q, .rowContainer-3t7486 {
    background: #17161B !important;
  }

  .input-2g-os5 {
    background: #17161B !important;
  }