.layer-2aCOJ3[style*="position: absolute; top: 69px; left: 837px;"] {
    left: unset !important;
    right: 250px !important;
}

.theme-dark {
    .container-2McqkF {
        background: var(--background-secondary) !important;
    }
    .focused-2FU0YH {
        background: var(--background-secondary-alt) !important;
    }
    .option-ayUoaq {
        &:hover {
            background: var(--background-secondary-alt) !important;
        }
    }
}

.searchLearnMore-1gNL3A {
    display: none !important;
}

.focused-1xh-wG .searchBar-jGtisZ, .open-1F8u2c .searchBar-jGtisZ {
    width: 300px !important;
}