// Separator and Description
.statusItem-2hiCNB {
    .description-3Cwkxk, .separator-1So4YB {
      display: none;
    }
}

.root-g14mjS {
  background: var(--background-primary) !important;
}

.footer-31IekZ {
  background: var(--background-secondary) !important;
}