.userPopout-2j1gM4 {
    background-color: var(--background-secondary) !important;
    border-radius: var(--radius-primary);
    width: 300px !important;
  
    .bodyInnerWrapper-2bQs1k, .footer-3naVBw {
      background-color: transparent !important;
    }
    .divider-1wtgZ3 {
      display: none;
    }
  
    .popoutBannerPremium-3i5EEI, .popoutBanner-3cqRD9 {
      border-radius: var(--radius-primary);
    }
  
    .avatarWrapperNormal-ahVUaC {
      left: 50%;
      transform: translateX(-50%);
    }
  }
  
  .activityUserPopout-2MzGCj {
    margin-top: 45px !important;
    margin-left: 6px;
    margin-right: 6px;
  
    &::before {
      content: " ";
      position: absolute;
      left: 0px;
      width: 100%;
      height: 1px;
      margin-top: -45px;
      background-color: var(--background-modifier-accent);
    }
  
    &::after {
      content: "activity";
      text-transform: uppercase;
      position: absolute;
      top: -25px;
      left: 2px;
      color: var(--header-secondary);
      font-weight: 700;
      font-size: 12px;
      font-family: var(--font-display);
      line-height: 16px;
    }
  }
  
  .userPopout-2j1gM4 {
    .headerTop-3GPUSF {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  
    .profileBadges-2pItdR {
      top: 7px;
      right: 10px;
      max-width: 110px;
    }
  
    .headerText-1-WmDq {
      margin: -5px 0 10px 0;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
  
  .customStatus-3XAoF9 {
    padding: 10px;
    border-radius: var(--radius-primary);
    background: var(--background-primary);
  
    > .customStatusEmoji-1bFQdD.customStatusSoloEmoji-2bSRlG:only-child {
      margin-right: auto;
      margin-left: auto;
    }
  }
  
  .userPopout-2j1gM4 {
    .aboutMeSection-PUghFQ {
      .aboutMeBody-1J8rhz {
        font-size: 14px;
        line-height: 18px;
        padding: 10px;
        border-radius: var(--radius-primary);
        background: var(--background-primary);
        overflow: hidden scroll;
  
        &::-webkit-scrollbar {
          width: 0.25em !important;
          border-radius: var(--radius-primary);
          height: 0px !important;
          background: transparent !important;
        }
  
        &::-webkit-scrollbar-thumb {
          background: var(--background-secondary-alt);
          border-radius: var(--radius-primary);
        }
      }
  
      margin-top: 20px;
  
      &::before {
        content: " ";
        position: absolute;
        left: 16px;
        width: 92%;
        height: 1px;
        margin-top: -12px;
        background-color: var(--background-modifier-accent);
      }
    }
  
    .aboutMeTitle-3pjiS7 {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      font-weight: 700;
      margin: 0 0 8px 6px;
    }
  
    .bodyTitle-2Az3VQ {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      font-weight: 700;
      margin: 0 0 8px 6px;
      margin-top: 28px;
  
      &::before {
        content: " ";
        position: absolute;
        left: 16px;
        width: 92%;
        height: 1px;
        margin-top: -15px;
        background-color: var(--background-modifier-accent);
      }
    }
  
    .note-Go5ZP2 {
      background: var(--background-primary);
      padding: 10px;
      margin: 3px;
      border-radius: var(--radius-primary);
    }
  
    .input-2z42oC {
      background: var(--background-primary);
      border-radius: var(--radius-primary);
    }
  
    .rolesList-3uZoaa {
      margin-bottom: 15px;
      display: flex;
      flex-direction: row;
      align-items: center;
      background-color: var(--background-primary);
      padding: 10px;
      border-radius: var(--radius-primary);
    }
  }
  
  .rolesList-3uZoaa .role-2TIOKu {
    font-size: 12px;
    font-weight: 500;
    background: var(--background-secondary-alt);
    border-radius: 8px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    height: 26px;
    margin: 0 6px 7px 0;
    padding: 6px;
  
    .roleCircle-1EgnFN {
      border-radius: 40%;
      width: 12px;
      height: 12px;
      padding: 0;
      margin: 0 7px 0 2px;
    }
  }