
.theme-light .root-g14mjS, .container-1Lk8p7 {
  background-color: #101014;
}
.theme-light .root-g14mjS .container-1Lk8p7  .footer-31IekZ {
  background-color: #17161B;
  border-color: rgba(0, 0, 0);
  box-shadow: none;
}
.root-g14mjS .container-1Lk8p7 .templatesList-uohY49 {
  height: 335px;
}
.root-g14mjS .container-1Lk8p7 div[class*="colorHeaderSecondary-g5teka size16-rrJ6ag subtitle-3m-md1"],
.root-g14mjS .container-1Lk8p7 div[class*="colorHeaderSecondary-g5teka size12-oc4dx4 optionHeader-27AHfD"],
.root-g14mjS .container-1Lk8p7 div[class*="colorHeaderSecondary-g5teka size16-rrJ6ag subtitle-1cc8Nz"],
.root-g14mjS .container-1Lk8p7 div[class*="colorHeaderSecondary-g5teka size14-3fJ-ot skip-2hTIXL"],
.root-g14mjS .container-1Lk8p7 div[class*="colorHeaderSecondary-g5teka size16-rrJ6ag subtitle-bIoUVX"],
.root-g14mjS .container-1Lk8p7 div[class*="colorHeaderSecondary-g5teka size14-3fJ-ot"],
.root-g14mjS .container-1Lk8p7 div[class*="colorMuted-20987_ size12-oc4dx4 guidelines-FvqqF2"],
.root-g14mjS .container-1Lk8p7 h5[class*="colorStandard-21JIj7 size14-3fJ-ot h5-2RwDNl title-3hptVQ formTitle-2YQyhj"], 
.root-g14mjS .container-1Lk8p7 h5[class*="colorStandard-21JIj7 size14-3fJ-ot h5-2RwDNl title-3hptVQ defaultMarginh5-3Jxf6f"] {
  color: #C1C1C5;
}
.root-g14mjS .container-1Lk8p7 .container-x8Y1ix {
  background-color: #17161B;
  margin-bottom: 8px;
}
.root-g14mjS .container-1Lk8p7 .container-x8Y1ix:hover {
  background-color: #1E1D24;
}
.root-g14mjS .container-1Lk8p7 .container-x8Y1ix:active {
  background-color: #1E1D24;
}
.root-g14mjS .container-1Lk8p7 .base-21yXnu,
.root-g14mjS .container-1Lk8p7 .colorStandard-21JIj7 {
  color: #D9DDE2;
}
.root-g14mjS .container-1Lk8p7 .footerButton-24QPis.button-f2h6uQ.lookFilled-yCfaCM.colorGrey-2iAG-B.sizeMedium-2bFIHr.grow-2sR_-F {
  background: linear-gradient(320deg,hsl(146deg 100% 42%) 0%,hsl(147deg 98% 43%) 9%,hsl(147deg 96% 43%) 17%,hsl(148deg 95% 44%) 26%,hsl(149deg 94% 44%) 35%,hsl(150deg 93% 44%) 43%,hsl(152deg 93% 44%) 52%,hsl(153deg 94% 44%) 61%,hsl(154deg 95% 44%) 70%,hsl(155deg 96% 43%) 79%,hsl(156deg 98% 43%) 89%,hsl(158deg 100% 42%) 100%);;
  color: #fff;
  transition: .3s ease;
}

.root-g14mjS .container-1Lk8p7 .footerButton-24QPis.button-f2h6uQ.lookFilled-yCfaCM.colorGrey-2iAG-B.sizeMedium-2bFIHr.grow-2sR_-F:hover {
   background: #02D983;
} 

.root-g14mjS .container-1Lk8p7 .sampleLink-5BWNy9 {
  color: #C1C1C5;
}

.root-g14mjS .container-1Lk8p7 button[class*="backButton-2Ps-B8 button-f2h6uQ lookBlank-21BCro colorBrand-I6CyqQ sizeMin-DfpWCE grow-2sR_-F"], 
.root-g14mjS .container-1Lk8p7 button[class*="button-f2h6uQ lookLink-15mFoz lowSaturationUnderline-Z6CW6z colorPrimary-2AuQVo sizeMin-DfpWCE grow-2sR_-F"], 
.root-g14mjS .container-1Lk8p7 button[class*="button-f2h6uQ lookBlank-21BCro colorBrand-I6CyqQ sizeMin-DfpWCE grow-2sR_-F"], 
.theme-light .root-g14mjS .container-1Lk8p7  .lookLink-15mFoz.colorPrimary-2AuQVo,
.root-g14mjS .container-1Lk8p7 .anchor-1MIwyf {
  color: #C1C1C5;
}

.inputWrapper-1YNMmM input {
  color: #fff !important;
}

.input-m1-Y7Q, .rowContainer-3t7486 {
  background-color: #17161B;
}
