
.menu-1QACrS, .theme-dark .root-g14mjS, .theme-dark .contentWrapper-3oy4Xo {
   background-color: var(--background-primary);
};

/* Search bar in invite friends to sever menu */
.container-2oNtJn, .inner-2pOSmK {
   background-color: var(--background-primary) !important;
}

/* Invite to server popout menu */
.container-2oNtJn, .inner-2pOSmK {
   background-color: var(--background-secondary) !important;
}

/* Server Link area in popout menu */
.theme-dark .footer-1hTRRZ {
   background-color: var(--background-primary) !important;
}

/* Delete message menu -> message preview */
.theme-dark .message-G6O-Wv {
   background-color: var(--background-secondary);
}

/* Delete + Cancel button area */
.theme-dark .footer-31IekZ {
   background-color: var(--background-secondary);
}

.container-2McqkF, .elevationBorderHigh-3drnJX {
   background-color: var(--background-secondary) !important;
}

.theme-dark .option-2KkUJO:after{
   background: none !important;
}

.theme-dark .focused-2FU0YH {
   background-color: var(--background-secondary);
}

/* Tooltips */
.tooltipPrimary-3qLMbS {
   background-color: var(--background-primary) !important; 
}

.stageListenerPill-1_QAPA {
   background-color: var(--background-secondary) !important;
}

/* Reactions menu */
.container-KM8BU6.root-g14mjS,
.container-KM8BU6.root-g14mjS > div:nth-child(1) {
    background-color: var(--background-secondary);
}

.container-KM8BU6.root-g14mjS > div:nth-child(2) {
    background-color: var(--background-primary);
}

.theme-dark .reactorDefault-3GSyaV {
    -webkit-box-shadow: inset 0 -1px 0 rgba(79,84,92,.2); 
    box-shadow:inset 0 -1px 0 rgba(79,84,92,.2);
}

.container-KM8BU6.root-g14mjS .reactionSelected-1aMb2K {
    background-color: var(--background-primary) !important;
}

.container-KM8BU6.root-g14mjS .reactionDefault-1Sjj1f:hover,
.container-KM8BU6.root-g14mjS .reactionSelected-1aMb2K:hover  {
    background-color: var(--background-secondary-alt) !important;
}

/* Threads popout active threads display div */
.container-2rzKKA:hover {
	background-color: var(--background-secondary-alt);
}

/* User settings tooltip */
.layer-2aCOJ3[style*="position: absolute; bottom: 148px; left: -15px;"] {
	left: 5px !important;
}