/* explore page bg */

.pageWrapper-2PwDoS,
.theme-dark .scroller-2GkvCq {
    background-color: var(--background-primary) !important;
  }
  
  .base-2jDfDU .content-1SgpWY .sidebar-1tnWFu .categoryItem-Kc_HK_ .layout-1qmrhw {
    width: unset !important;
  }
  
  .theme-dark {
    .card-2TuZPZ, .iconMask-2fMR98,
    .container-KM8BU6, .reactors-1VXca7 {
      background-color: var(--background-secondary) !important;
    }
  
    .card-2TuZPZ:hover {
      background-color: var(--background-secondary-alt) !important;
    }
  }
  
  .itemInner-3e_4G4:hover {
    background-color: var(--background-secondary-alt) !important;
  }
  
  .search-25t1e9 .searchBox-31Zv9h {
    z-index: 2;
    background-color: var(--background-secondary);
    padding-right: 8px;
  
    .searchBoxInputWrapper-3XLwVB input {
      color: #fff !important;
    }
  }
  
  .itemFilled-1cPbtg[aria-checked="true"] .radioBar-3w9XY- {
    background-color: var(--background-secondary-alt);
  }
  
  .radioBar-3w9XY- {
    background-color: var(--background-secondary);
  
    &:hover {
      background-color: var(--background-secondary-alt);
    }
  }
  
  .option-2eIyOn {
    background-color: var(--background-secondary);
  
    &[aria-selected=true] {
      background-color: var(--background-secondary-alt);
    }
  }
  
  .container-2rCwVJ.searchPage-3tt6dh .search-25t1e9 .searchBox-pyIJJj {
    background-color: var(--background-secondary) !important;
  }
  
  .categoryItem-Kc_HK_.selectedCategoryItem-ZjqSui .itemInner-3e_4G4 {
    background: var(--blurple) !important;
  }

  