/* friends list */

.tabBody-2dgbAs, .peopleColumn-1wMU14 {
    background-color: var(--background-primary) !important;
}
  
  .tabBar-ra-EuL.topPill-3DJJNV {
    .item-3mHhwr:hover, .selected-g-kMVV {
      background-color: var(--background-secondary-alt) !important;
    }
  
    .item-3mHhwr[aria-controls="add_friend-tab"] {
      background: var(--spotify-bg) !important;
      transition: .3s ease;
    }
  }
  
  .children-3xh0VB .side-2ur1Qk .themed-2-lozF.item-3XjbnG:hover:not(.disabled-1nofHP),
  .topPill-3DJJNV .themed-2-lozF.item-3XjbnG:hover:not(.disabled-1nofHP) {
    background: var(--background-secondary-alt) !important;
  }
  
  .tabBar-ra-EuL.topPill-3DJJNV .item-3mHhwr[aria-controls="add_friend-tab"][aria-selected="true"] {
    background: var(--spotify-bg) !important;
    color: #fff !important;
  }
  
  .peopleColumn-1wMU14 .searchBar-2aylmZ .inner-2pOSmK {
    background-color: var(--background-secondary) !important;
    transition: .3s ease;
  
    &:hover {
      background-color: var(--background-secondary-alt) !important;
    }
  }
  
  .addFriendInputWrapper-kkoSV9 {
    background-color: var(--background-secondary);
  }
  
  .itemCard-3Etziu.wrapper-2RrXDg.outer-2JOHae.padded-2NSY6O.interactive-2zD88a:hover {
    background-color: var(--background-secondary-alt) !important;
  }