.background-fkKrXt {
    background-color: var(--background-primary) !important;
  
    .widgets-37sQdc [class^="container"] {
      background-color: var(--background-secondary) !important;
  
      .channel-3RR50j:hover {
        background-color: var(--background-primary) !important;
      }
    }

    .container-3HMTms {
      &:hover {
        background: var(--background-primary) !important;
      }
    }
}