.side-2ur1Qk .themed-2-lozF.selected-g-kMVV.item-3XjbnG, .topPill-3DJJNV .themed-2-lozF.selected-g-kMVV.item-3XjbnG {
    background-color: var(--background-primary);
}

.side-2ur1Qk .item-3XjbnG:hover {
    background-color: var(--background-primary) !important;
}

.accountProfileCard-lbN7n- {
    background-color: var(--background-secondary) !important;
}

.accountProfileCard-lbN7n- .background-3d_SjE,.accountProfileCard-lbN7n- .fieldList-in8WkP {
    background-color: var(--background-primary) !important;
}

.accountProfileCard-lbN7n- .avatar-3mTjvZ rect {
    x: 79%;
    y: 3%;
    transform: scale(0.8) !important;
}

.bioTextArea-dDGOeC.scrollableContainer-15eg7h.webkit-QgSAqd {
    background-color: var(--background-secondary);
}

.contentColumn-1C7as6 .itemFilled-1cPbtg[aria-checked=true] {
    background-color: var(--background-secondary-alt);
}

#app-mount .layer-86YKbF ~ .layer-86YKbF .container-JyRf62 .row-LoqnA5.item-3XjbnG.selected-g-kMVV.themed-2-lozF {
    background-color: var(--background-secondary-alt)
}

#app-mount .layer-86YKbF ~ .layer-86YKbF .container-JyRf62 .row-LoqnA5.item-3XjbnG.themed-2-lozF:hover {
    background-color: var(--background-secondary) !important;
}

.card-16VQ8C {
    background-color: var(--background-secondary) !important;
}

.group-LWHoGI .item-4m-12I:not(.selected-3jieYB) {
    background-color: var(--background-secondary);
}

.deny-1GO6vI.selected-3jieYB {
    background: var(--red-bg);
}

.allow-1h61-Z.selected-3jieYB {
    background: var(--spotify-bg);
}

.passthrough--fbdFR.selected-3jieYB {
    background-color: var(--background-secondary-alt);
}

.elevationHigh-28Pty4 {
    background-color: var(--background-secondary) !important;
}

.side-2ur1Qk .themed-2-lozF.item-3XjbnG:hover:not(.disabled-1nofHP), .topPill-3DJJNV .themed-2-lozF.item-3XjbnG:hover:not(.disabled-1nofHP) {
	background-color: var(--background-secondary-alt) !important;
}

.side-2ur1Qk .themed-2-lozF.selected-g-kMVV.item-3XjbnG, .topPill-3DJJNV .themed-2-lozF.selected-g-kMVV.item-3XjbnG {
	background-color: var(--background-secondary) !important;
}

.header-3i_Csh {
	background-color: var(--background-secondary-alt) !important;
}

.container-1S70rv .sectionTag-28mLyE {
	background-color: var(--background-secondary) !important;
}

.row-1Ib2uD.selected-1IWCoj .rowInner-3uonq8 {
	background-color: var(--background-secondary-alt) !important;
}

.side-2ur1Qk .themed-2-lozF.selected-g-kMVV.item-3XjbnG, .topPill-3DJJNV .themed-2-lozF.selected-g-kMVV.item-3XjbnG {
	background-color: var(--background-secondary-alt) !important;
}

.colorPickerCustom-1swUKF {
	background-color: var(--background-secondary) !important;
	border-color: var(--background-secondary-alt) !important;
}

/* Transaction History */

.theme-dark {
    .paginator-1eqD2g, .bottomDivider-ZmTm-j {
      background-color: var(--background-secondary) !important;
      border-color: var(--background-modifier-accent) !important;
    }
  
    .expandedInfo-1W31i3 {
      background-color: var(--background-secondary-alt) !important;
    }
  }
  
  .pageButtonNext-2_bbdk.disabled-29cfPA, .pageButtonPrev-3q9rh8.disabled-29cfPA {
    border-color: var(--background-modifier-accent) !important;
  }
  
  .pageButtonNext-2_bbdk, .pageButtonPrev-3q9rh8 {
    border-color: var(--background-modifier-accent);
  }
