.side-2ur1Qk .themed-2-lozF.selected-g-kMVV.item-3XjbnG, .topPill-3DJJNV .themed-2-lozF.selected-g-kMVV.item-3XjbnG {
    background-color: var(--background-primary);
}

.side-2ur1Qk .item-3XjbnG:hover {
    background-color: var(--background-primary) !important;
}

.accountProfileCard-lbN7n- {
    background-color: var(--background-secondary) !important;
}

.accountProfileCard-lbN7n- .background-3d_SjE,.accountProfileCard-lbN7n- .fieldList-in8WkP {
    background-color: var(--background-primary) !important;
}

.accountProfileCard-lbN7n- .avatar-3mTjvZ rect {
    x: 79%;
    y: 3%;
    transform: scale(0.8) !important;
}

.bioTextArea-dDGOeC.scrollableContainer-15eg7h.webkit-QgSAqd {
    background-color: var(--background-secondary);
}

.customizationSection-IGy2fS.preview-Z55SA3 .imageUploader-1X7wVc {
    position: absolute;  
    left: 50%;
    transform: translateX(-50%);
}

.contentColumn-1C7as6 .itemFilled-1cPbtg[aria-checked=true] {
    background-color: var(--background-secondary-alt);
}

#app-mount .layer-86YKbF ~ .layer-86YKbF .container-JyRf62 .row-LoqnA5.item-3XjbnG.selected-g-kMVV.themed-2-lozF {
    background-color: var(--background-secondary-alt)
}

#app-mount .layer-86YKbF ~ .layer-86YKbF .container-JyRf62 .row-LoqnA5.item-3XjbnG.themed-2-lozF:hover {
    background-color: var(--background-secondary) !important;
}

