.activityUserPopout-2MzGCj,
.activityProfile-1712BN {
    //styling
    h3,
    .content-tXPNDw,
    .activityName-3YXl6e,
    .details-2-ciHo {
      color: var(--text-color) !important;
    }
    .colorGrey-2iAG-B {
      background: transparent !important;
      border: var(--text-color) 2px solid;
      transition: 0.5s;
      &:hover {
        background: var(--text-color) !important;
        border-color: transparent;
        color: black !important;
      }
    }

    //defualt
    background: var(--activity-bg);
    padding: 10px;
    border-radius: 6px;
    margin-bottom: 10px;
    z-index: 1;

    //twitch
    .detailsWrap-omKn0b.textRow-1sENuL[title] {
      &::after {
        content: "";
        width: 100%;
        height: 100%;
        z-index: -2;
        background: var(--twitch-bg);
        position: absolute;
        top: 0;
        left: 0;
        border-radius: 6px;
      }
    }

    //spotify
    .timeBarUserPopout-qLXZaR,
    .timeBarProfile-1z_HH- {
      &::after {
        content: "";
        width: 100%;
        height: 100%;
        z-index: -1;
        background: var(--spotify-bg);
        position: absolute;
        top: 0;
        left: 0;
        border-radius: 6px;
      }
    }

    // Images
    .assets-3PQvAh img {
      border-radius: 50%;
    }

    .platformIcon-k3yytQ {
      margin: 5px 5px 0px 0px;
      path {
        fill: (var(--text-color));
      }
    }

    // Button
    .button-TGAkj4.button-f2h6uQ {
      background-color: unset !important;
      border: none !important;
      box-shadow: inset 0px 0px 0px 1px white;
      -webkit-box-shadow: inset 0px 0px 0px 1px white;

      &:hover {
        box-shadow: inset 0px -40px 0px 0px white;
        -webkit-box-shadow: inset 0px -40px 0px 0px white;
        color: #000;
      }
    }
    
    // bots
    .contentNoImagesUserPopout-12NyFa {
      &::after {
        content: "";
        width: 100%;
        height: 100%;
        z-index: -2;
        background: var(--bot-bg);
        position: absolute;
        top: 0;
        left: 0;
        border-radius: 6px;
      }
    }
    
    //xbox
    .xboxAssets-aGhVw8 ~ div::after {
      content: "";
      width: 100%;
      height: 100%;
      z-index: -2;
      background: var(--xbox-bg);
      position: absolute;
      top: 0;
      left: 0;
      border-radius: 6px;
    }
}

.activityProfile-1712BN {
    margin: 10px;
    border-radius: 6px;
    .platformIcon-k3yytQ {
      margin: 0px;
    }
}