// Boost progress bar
.progressBarContainer-1efroK {
    background-color: var(--background-primary) !important;
}
  
.sidebar-1tnWFu .container-1NXEtd .container-1-ERn5 .header-3OsQeK {
    color: var(--interactive-active) !important;
    text-transform: uppercase;
    font-family: var(--font);
    margin-left: 0px;
}

// Arrow Icon in Category
.icon-3zI3d2 {
    transform: scale(0.75);
}

// Expanded Category  
[aria-expanded*="true"] .name-3BUDLf .overflow-1wOqNV {
    color: var(--interactive-active) !important;
}

// Add channel button in category
.addButton-2mlqCW.forceVisible-14yqh4, .iconVisibility-3pLDEs:hover .addButton-2mlqCW {
    display: block;
    opacity: 0;
    transition: .2s ease;

    &:hover {
        display: block;
        opacity: 1;
    }
}

// Threads spine
.spine-29OFwR {
    display: block;
    margin-top: 4px;
    color: var(--text-muted) !important;
    z-index: 1 !important;
}
  
.container-1NXEtd, .privateChannels-oVe7HL {
    background: var(--background-secondary);
    border-radius: var(--radius-primary);
    margin-bottom: 3px;
    margin-left: -1px;
}
  
.sidebar-1tnWFu {
    .thin-31rlnD {
      background: var(--background-secondary);
      border-radius: var(--radius-primary);
      margin-bottom: 3px;
      margin-left: -1px;
    }
  
    background: transparent;
    border-radius: 10px 10px 0px 0px !important;
    margin-right: 8px;
    width: var(--cl-width);
}
  
.bannerImage-ubW8K- {
    width: var(--cl-width);
  
    img {
        width: var(--cl-width);
    }
}

.animatedContainer-2laTjx {
    box-shadow: var(--elevation-high) !important;
    border-radius: 0px !important;
}
  
.container-1-ERn5 {
    z-index: 2 !important;
}
  
.chat-2ZfjoI, .container-2cd8Mz, .container-1a3EgQ, .container-36u7Lw, .applicationStore-2nk7Lo, .pageWrapper-2PwDoS {
    border-radius: 10px 0px 0px 0px;
}
  
.animatedContainer-2laTjx {
    box-shadow: none;
    border-radius: var(--radius-primary);
}
  
.container-1NXEtd, .privateChannels-oVe7HL, .sidebar-1tnWFu .thin-31rlnD {
    margin-bottom: 5px !important;
}
  
.containerDefault-YUSmu3, .containerDragAfter-3aBiOW, .containerDragBefore-1s5Qg6, .containerUserOver-SDa1HW {
    padding: 3px 2px;
}
  
.iconContainer-21RCa3 {
    margin-right: 7px;
}
  
// Indicator next to channel
.unreadRelevant-2f-VSK {
    background-color: var(--brand-experiment);
    width: 3px;
    height: 17px;
    margin-top: -9px;
}
  
.containerDefault-3TQ5YN, .containerDragAfter-1J_-1V, .containerDragBefore-ei4h1m, .containerUserOver-3woq86 {
    margin: 5px;
}
  
.wrapper-NhbLHG {
    border-radius: 2px 10px 10px 2px;

    &.modeSelected-3DmyhH, &.modeConnected-NrO4cP {
      background: var(--background-primary);
    }

    &.modeSelected-3DmyhH .content-1gYQeQ {
      background-color: transparent;
  
      .iconContainer-21RCa3 svg path {
        fill: var(--interactive-active);
      }
    }
}
  
.modeConnected-NrO4cP .iconContainer-21RCa3 svg path {
    fill: var(--interactive-active);
}
  
.wrapper-NhbLHG {
    &:hover .iconContainer-21RCa3 svg path {
      fill: var(--interactive-active);
    }
  
    &.modeSelected-3DmyhH:hover, &:hover {
      background-color: var(--background-secondary-alt) !important;
    }
}
  
.wrapper-NhbLHG:hover {
    background-color: var(--background-secondary-alt) !important;
}
  
.wrapper-NhbLHG {
    &.modeSelected-3DmyhH:hover::before, &:hover::before {
      background-color: var(--background-secondary-alt) !important;
    }
}
  
.wrapper-NhbLHG:hover::before {
    background-color: var(--background-secondary-alt) !important;
}
  
.wrapper-NhbLHG.modeConnected-NrO4cP:hover {
    background-color: var(--background-secondary-alt);
  
    &::before {
      background-color: var(--background-secondary-alt);
    }
}
  
.userLimit-VbEkeM .wrapper-2fEmwW {
    .users-2JoyGL {
      background-color: var(--background-secondary-alt);
      color: var(--interactive-normal);
      filter: brightness(115%);
    }
  
    .total-1c5KCN {
      background-color: var(--background-secondary-alt);
      color: var(--interactive-normal);
      filter: brightness(130%);
    }
}
  
.total-1c5KCN:after {
    content: "";
    position: absolute;
    top: 0;
    left: -8px;
    width: 0;
    height: 0;
    border-top: 20px solid transparent;
    border-bottom: 0 solid transparent;
    border-right: 8px solid transparent;
    border-right-color: var(--background-secondary-alt);
    filter: brightness(130%);
}
  
// "NEW UNREADS" bar
.unread-2wipsx {
    background: var(--cl-nub-color);
    opacity: 0.9;
}
  
// Server with a banner
.container-1-ERn5.clickable-vvKY2q.hasBanner-2IrYih.bannerVisible-Vkyg1I > header.header-3OsQeK {
    filter: none;

    &::before {
        content: " ";
        position: absolute;
        left: 0;
        top: 0;
        background: var(--background-secondary);
        opacity: 50%;
        width: 100%;
        height: 50px;
    }
}
  
.sidebar-1tnWFu .container-1NXEtd .container-1-ERn5 {
    transition: .3s ease;
    .header-3OsQeK:hover, &:hover {
      background-color: var(--background-secondary-alt);
    }
}

.iconItem-1EjiK0 {
    display: block !important;
}

.children-1MGS9G .iconItem-1EjiK0 {
    opacity: 0;
    transition: opacity .3s ease;
}

.channelInfo-3jN1ay {
    margin-left: 0 !important;
}

.wrapper-NhbLHG.modeSelected-3DmyhH,
.wrapper-NhbLHG {
    &:hover .children-1MGS9G .iconItem-1EjiK0 {
        opacity: 1;
    }
}