// ═══════════════════════════════════════════════════════════════════════════════════════════════════════
//                                  Channel List Area
// ═══════════════════════════════════════════════════════════════════════════════════════════════════════

.container-1NXEtd,
.privateChannels-oVe7HL,
.sidebar-1tnWFu .thin-31rlnD {
  background: var(--background-secondary);
  border-radius: 5px;
  margin-bottom: 5px;
}
.sidebar-1tnWFu {
  background: transparent;
  border-radius:  5px 5px 0px 0px !important;
  margin-right: 8px;
}
.container-1-ERn5 {z-index: 2 !important;}
.chat-2ZfjoI,
.container-2cd8Mz,
.container-1a3EgQ,
.container-36u7Lw,
.applicationStore-2nk7Lo,
.pageWrapper-2PwDoS {
  border-radius: 5px 0px 0px 0px;
}
.panels-3wFtMD {
  background: var(--background-secondary);
  border-radius: 5px 5px 0px 0px;
}
.animatedContainer-2laTjx {
  box-shadow: none;
  border-radius: 5px;
}