.membersGroup-2eiWxl:nth-child(2) {
    margin-top: 27px;
}

.membersGroup-2eiWxl:nth-child(2)::before {
    content: "Members List";
    background-color: var(--background-primary) !important;
    padding: 10px 77px;
    color: var(--channels-default);
    position: fixed;
    z-index: 1;
    top: 66px;
    right: 0%;
    font-weight: 600;
    font-size: 14px;
}

