// ═══════════════════════════════════════════════════════════════════════════════════════════════════════
//                                  Server List Area
// ═══════════════════════════════════════════════════════════════════════════════════════════════════════

// Server list made shorter to let the mute, deafen buttons get their place ;)
.guilds-2JjMmN .scrollerBase-_bVAAt {
    max-height: 65% !important;
    background-color: var(--background-tertiary);
    border-radius: 7px;
}

// Backgorund of mute, deafen buttons area
.guilds-2JjMmN {
    background-color: #0f0e11;
    border-radius: 10px;
}

//
@media (max-height: 900px) {
    .guilds-2JjMmN .scrollerBase-_bVAAt {
        max-height: 60% !important;
        background-color: var(--background-tertiary);
        border-radius: 7px;
    }
}

//
@media (max-height: 800px) {
    .guilds-2JjMmN .scrollerBase-_bVAAt {
        max-height: 57% !important;
        background-color: var(--background-tertiary);
        border-radius: 7px;
    }
}

// "new" unread pill in server list
.mention-3XBnnZ {
    display: none;
}

.none-2-_0dP {
    scrollbar-width: auto !important;
    overflow-y: scroll !important;
    overflow-x: hidden !important;
    margin-right: 3px;
}

.none-2-_0dP:hover::-webkit-scrollbar {
    width: 0.25em !important;
    border-radius: 25px;
    height: 0px !important;
    background: transparent !important;
    
}

.none-2-_0dP::-webkit-scrollbar-thumb {
    background: var(--background-secondary);
    border-radius: 25px;
}

// Folder background
.folder-241Joy, .folderIconWrapper-1oRIZr, .expandedFolderIconWrapper-3RwQpD, .expandedFolderBackground-1kSAf6 {
    background-color: var(--background-secondary-alt) !important;
}

// Makes the folders round
.folder-241Joy, .folderIconWrapper-1oRIZr {
    border-radius: 100%;
}

// Folder icon
.expandedFolderIconWrapper-3RwQpD svg {
    color: var(--brand-experiment) !important;
}

.childWrapper-1j_1ub {
    background-color: var(--background-secondary-alt) !important;
    border-radius: 50%;
}

.wrapper-3kah-n.selected-1Drb7Z .childWrapper-1j_1ub, .wrapper-3kah-n:hover .childWrapper-1j_1ub {
    background: var(--blurple-bg) !important;
    border-radius: 40%;
}