

// Mention Badge with the mention count
.numberBadge-37OJ3S,
.wrapper-2olG5t.badge-3k1jbq {
	color: #eee;
	background: var(--mention-badge-color) !important;
	border-radius: 5px !important;
}

// The VC joined/ Stage icon on top right of server icons
.iconBadge-32fMme {
    background-color: var(--background-secondary-alt) !important;
}

.item-2LIpTv {
    background-color: var(--brand-experiment);
    margin-left: -8.5px;
    width: 14px;
    border-radius: 0px 40px 40px 0 !important;
    box-shadow: 0px 0px 6px 1px rgba(126, 123, 254, 0.75);
    -webkit-box-shadow: 0px 0px 6px 1px rgba(126, 123, 254, 0.75);
}
  
// "NEW" mention pill in server list
.mention-3XBnnZ {
    background: var(--sl-nub-color) !important;
    box-shadow: var(--elevation-low);
    -webkit-box-shadow: var(--elevation-low);
}

// Scrollbar
.none-2-_0dP {
    scrollbar-width: auto !important;
    overflow-y: scroll !important;
    overflow-x: hidden !important;
    margin-right: 3px;
  
    &:hover::-webkit-scrollbar {
      width: 0.25em !important;
      border-radius: var(--radius-primary);
      background: transparent !important;
    }
  
    &::-webkit-scrollbar-thumb {
      background: var(--scrollbar-thin-thumb);
      border-radius: var(--radius-primary);
    }
}
  
// Folder BG
.folder-241Joy, .folderIconWrapper-1oRIZr, .expandedFolderIconWrapper-3RwQpD, .expandedFolderBackground-1kSAf6 {
    background-color: var(--background-secondary-alt) !important;
}
  
// Folder Icon
.expandedFolderIconWrapper-3RwQpD svg {
    color: var(--brand-experiment) !important;
}
  
// Server Icon
.selected-1Drb7Z {
    transition: .5s ease !important;
}
  
.childWrapper-1j_1ub {
    transition: .5s ease;
    background-color: var(--background-secondary-alt) !important;
    border-radius: 10% !important;
}
  
.wrapper-3kah-n {
    &.selected-1Drb7Z .childWrapper-1j_1ub, &:hover .childWrapper-1j_1ub {
      background: var(--blurple) !important;
    }
}
  
.circleIconButton-1VxDrg {
    background-color: var(--background-secondary-alt);
    color: var(--brand-experiment);
    transition: .5s ease;
  
    &:hover {
      background: var(--blurple);
      color: #fff;
    }
  
    &.selected-2r1Hvo {
      background: var(--blurple);
    }
}

.folder-241Joy, .folderIconWrapper-1oRIZr {
    border-radius: 50%;
}

.closedFolderIconWrapper-3tRb2d {
    border-radius: 50%;
    padding: 6px;

    .iconSizeSmol-qsFaRK {
        width: 13px;
        height: 13px;
    }
}

[id*="folder-items"] {
    .childWrapper-1j_1ub {
        background-color: var(--background-secondary) !important;
    }
}