// Online
[mask="url(#svg-mask-status-online)"],
rect[fill^="hsl(139, calc(var(--saturation-factor, 1) * 47.3%), 43.9%)"] {
    fill: var(--online-color);
}

//  Online in status picker
[class^="status"] [style^="background-color: hsl(139, calc(var(--saturation-factor, 1) * 47.3%), 43.9%);"] {
    background-color: var(--green-alt) !important;
}

// DND
[mask="url(#svg-mask-status-dnd)"],
rect[fill^="hsl(359, calc(var(--saturation-factor, 1) * 82.6%), 59.4%)"] {
    fill: var(--dnd-color) !important;
}

// DND in status picker
[style="background-color: hsl(359, calc(var(--saturation-factor, 1) * 82.6%), 59.4%);"] {
    background-color: var(--dnd-color) !important;
}

//  Idle 
[mask="url(#svg-mask-status-idle)"],
rect[fill^="hsl(38, calc(var(--saturation-factor, 1) * 95.7%), 54.1%)"] {
    fill: var(--idle-color);
}

// Idle in status picker
[class^="status"] [style="background-color: hsl(38, calc(var(--saturation-factor, 1) * 95.7%), 54.1%);"] {
    background-color: var(--idle-color) !important;
}

// Streaming 
[mask="url(#svg-mask-status-streaming)"] {
    fill: var(--streaming-color);
}

// Mobile
[mask="url(#svg-mask-status-online-mobile)"] {
    fill: var(--online-color);
}