/** Modification of:
    * Bubble Bar @ version 1.2.0
    * By: @LuckFire#4800
    * @source https://github.com/Discord-Theme-Addons/bubble-bar
**/

// ═══════════════════════════════════════════════════════════════════════════════════════════════════════
//                                  Buttons in Text bar
// ═══════════════════════════════════════════════════════════════════════════════════════════════════════

// Emoji Icon
//.sprite-2lxwfc { 
//    filter: grayscale(0) !important;
//}

// Hide Nitro Gifting Button
button[aria-label='Send a gift'] {
    display: none !important;
    opacity: 0;
}

// Hide Sticker Button
button[aria-label="Open sticker picker"] {
    display: none !important;
    opacity: 0 !important;
}

// Hide Gif Button
button[aria-label="Open GIF picker"] {
    display: none !important;
    opacity: 0 !important;
}

// + button
.form-3gdLxP .attachButton-1ijpt9 {
    margin-left: -16px;
    margin-right: 7px;
}

// Invite to listen along in + button
.form-3gdLxP .attachButton-1ijpt9 .attachButtonPlay-1ATmb5 {
    fill: var(--spotify-color);
}

// Buttons in text area
.channelTextArea-1VQBuV .buttons-uaqb-5 {
    margin-right: 0;
}

// Buttons in text area
.channelTextArea-1VQBuV button {
    width: 42px;
    height: 42px;
    margin-top: 0;
    margin-left: 7px;
    border-radius: 7px;
    background-color: var(--background-secondary);
}


// ═══════════════════════════════════════════════════════════════════════════════════════════════════════
//                                  Text Bar Area
// ═══════════════════════════════════════════════════════════════════════════════════════════════════════

//
.channelTextArea-1VQBuV .scrollableContainer-15eg7h {
    background-color: transparent;
}

//
.channelTextArea-1VQBuV .textArea-2CLwUE {
    border-radius: 7px;
    background-color: var(--background-secondary);
}

//
.channelTextArea-1VQBuV .slateTextArea-27tjG0 {
    caret-color: var(--channeltextarea-caret, var(--brand-experiment));
}

/* [ --EDITING-- ] */
.channelTextArea-220_Gz > div {
    border-radius: 7px;
}

.channelTextArea-1VQBuV button {
    transition: ease .3s;
}

/* [ --FORM-- ] */
.scrollerSpacer-3AqkT9 {
    height: 10px;
}

//
.form-3gdLxP {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    margin-top: 15px;
    margin-bottom: -8px;
}

//
.form-3gdLxP .textArea-2CLwUE > div {
    left: 16px;
}

//
.form-3gdLxP .scrollableContainer-15eg7h {
    margin-right: -12px;
}

.form-3gdLxP .separator-3ng7S5 {
    margin-left: -4px;
}

.form-3gdLxP .separator-3ng7S5::before {
    display: none;
}

.form-3gdLxP .separator-3ng7S5 .button-y6hemj::before {
    z-index: -1;
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 42px;
    height: 42px;
    border-radius: 7px;
    transition: ease .5s;
    -webkit-transition: ease .5s;
}

.form-3gdLxP .separator-3ng7S5 button{
    background: transparent;
    transition: ease .5s;
    -webkit-transition: ease .5s;
}

.form-3gdLxP .separator-3ng7S5 .button-y6hemj svg {
    margin-left: -5px;
    opacity: 1;
    color: var(--text-disabled);
    transition: ease .5s;
    -webkit-transition: ease .5s;
}
.form-3gdLxP .separator-3ng7S5 .button-y6hemj[disabled]::before {
    background-color: var(--background-secondary);
    transition: ease .5s;
    -webkit-transition: ease .5s;
}
.form-3gdLxP .separator-3ng7S5 .button-y6hemj:not([disabled]) svg {
    opacity: 1;
    color: #eee;
    transition: ease .5s;
    -webkit-transition: ease .5s;
}
.form-3gdLxP .separator-3ng7S5 .button-y6hemj:not([disabled])::before {
    background: var(--blurple-bg);
    transition: ease .5s;
    -webkit-transition: ease .5s;
}
.form-3gdLxP .separator-3ng7S5 .button-y6hemj:not([disabled]):hover::before {
    background: var(--blurple-bg-alt);
    -webkit-transition: ease .5s;
}
.form-3gdLxP .separator-3ng7S5 .button-y6hemj:not([disabled]):active::before {
    background: var(--blurple-bg-alt);
    -webkit-transition: ease .5s;
}
.form-3gdLxP .base-3bcbY3 {
    position: relative;
    margin-top: -14px;
    margin-bottom: 15px;
    margin-left: -32px;
    background-color: var(--background-secondary);
}
.form-3gdLxP .base-3bcbY3 .cooldownWrapper-2k1jHK {
    margin-right: 5px;
}
.form-3gdLxP .attachedBars-2BCP3l {
    margin-top: -15px;
    margin-right: -16px;
    margin-bottom: 15px;
    margin-left: -16px;
    border-radius: 0;
    background-color: var(--background-secondary);
    transition: ease .5s;
    -webkit-transition: ease .5s;
}
.form-3gdLxP .replyBar-1oi75v {
    height: 36px;
    background-color: var(--background-secondary);
}
.form-3gdLxP .replyBar-1oi75v .separator-8ngZ3p {
    display: none;
}
.form-3gdLxP .replyBar-1oi75v .closeButton-3IEry2 {
    position: absolute;
    left: -20px;
}
.form-3gdLxP .replyBar-1oi75v .replyLabel-WWnhHi {
    margin-left: 45px;
}
.form-3gdLxP .replyBar-1oi75v .colorLink-2apWfY {
    color: var(--brand-experiment-360);
}
.form-3gdLxP .threadSuggestionBar-3ExSyc {
    background-color: var(--background-secondary);
}
.form-3gdLxP .channelAttachmentArea-1wlgJV {
    margin-top: -11px;
    margin-bottom: 5px;
}
.form-3gdLxP .divider-2rZFJK {
    display: none;
}
.form-3gdLxP .characterCount-8yNPfb {
    display: block;
}


// ═══════════════════════════════════════════════════════════════════════════════════════════════════════
//                                  Jump to Present Button
// ═══════════════════════════════════════════════════════════════════════════════════════════════════════


.jumpToPresentBar-1cEnH0 {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    left: calc(100% - 56px);
    width: 40px;
    height: 40px;
    padding: 0;
    margin-bottom: 10px;
    border-radius: 7px;
    background-color: var(--background-secondary);
    transition: ease .3s;
    -webkit-transition: ease .3s;
}
.jumpToPresentBar-1cEnH0:hover {
    background-color: #00000050;
}
.jumpToPresentBar-1cEnH0:active {
    margin-bottom: 10px;
    background-color: var(--background-secondary);
    opacity: 0.8;
}
.jumpToPresentBar-1cEnH0 .barButtonMain-2GIx4o {
    display: none;
}

.jumpToPresentBar-1cEnH0 .barButtonAlt-TQoCdZ {
    font-size: 0;
}
.jumpToPresentBar-1cEnH0 .barButtonIcon-bMvzp2 {
    top: 0;
    width: 30px;
    height: 30px;
    margin-left: 0;
}
.jumpToPresentBar-1cEnH0 .spinner-2RT7ZC {
    margin-left: 12px;
}

// ═══════════════════════════════════════════════════════════════════════════════════════════════════════
//                                  Auto Complete
// ═══════════════════════════════════════════════════════════════════════════════════════════════════════

//
#app-mount .autocompleteAttached-bt_md-,
#app-mount .autocomplete-3NRXG8 {
    right: -16px;
    bottom: 59px;
    left: -16px;
    padding-left: 6px;
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    background-color: var(--background-secondary);
}
#app-mount .autocomplete-3NRXG8 {
    padding-left: 0;
}
#app-mount .autocomplete-3NRXG8 .categoryHeader-OpJ1Ly {
    background-color: var(--background-secondary);
}

