/* Category Arrow icon */
.icon-3zI3d2 {
  display: none;
}

/* Category -> create channel + icon */
.addButton-2mlqCW.forceVisible-14yqh4, .iconVisibility-3pLDEs:hover .addButton-2mlqCW {
  display: block;
  opacity: 0;
}

.addButton-2mlqCW.forceVisible-14yqh4:hover, .iconVisibility-3pLDEs:hover .addButton-2mlqCW:hover {
  display: block;
  opacity: 1;
}

.container-1NXEtd,
.privateChannels-oVe7HL,
.sidebar-1tnWFu .thin-31rlnD {
  background: var(--background-secondary);
  border-radius: var(--radius-primary);
  margin-bottom: 5px;
}
.sidebar-1tnWFu {
  background: transparent;
  border-radius:  10px 10px 0px 0px !important;
  margin-right: 8px;
}
.container-1-ERn5 {z-index: 2 !important;}
.chat-2ZfjoI,
.container-2cd8Mz,
.container-1a3EgQ,
.container-36u7Lw,
.applicationStore-2nk7Lo,
.pageWrapper-2PwDoS {
  border-radius: 10px 0px 0px 0px;
}
.panels-3wFtMD {
  background: var(--background-secondary);
  border-radius: 10px 10px 0px 0px;
}
.animatedContainer-2laTjx {
  box-shadow: none;
  border-radius: var(--radius-primary);
}

.container-1NXEtd, .privateChannels-oVe7HL, .sidebar-1tnWFu .thin-31rlnD {
    margin-bottom: 5px !important;
}

.containerDefault-YUSmu3, .containerDragAfter-3aBiOW, .containerDragBefore-1s5Qg6, .containerUserOver-SDa1HW {
    padding: 3px 2px;
}

.iconContainer-21RCa3 {
    margin-right: 7px;
}

.containerDefault-3TQ5YN, .containerDragAfter-1J_-1V, .containerDragBefore-ei4h1m, .containerUserOver-3woq86 {
    margin: 3px;
}

.wrapper-NhbLHG.modeSelected-3DmyhH .content-1gYQeQ {
    border-left: 3px solid var(--brand-experiment) !important;
    border-radius: 5px;
}

.wrapper-NhbLHG .content-1gYQeQ:hover {
    background-color: var(--background-primary) !important;
}

.wrapper-NhbLHG.modeConnected-NrO4cP {
    border-left: 3px solid var(--brand-experiment) !important;
    border-radius: 5px;
    background-color: var(--background-primary);
}

.wrapper-NhbLHG.modeConnected-NrO4cP:hover {
    background-color: var(--background-secondary);
}