.managedReactiveScroller-1lEEh3 {
    scrollbar-width: auto !important;
    overflow-y: scroll !important;
}

.managedReactiveScroller-1lEEh3::-webkit-scrollbar {
    width: 0 !important;
    border-radius: 25px;
    height: 0px !important;
    background: transparent !important;
}

.managedReactiveScroller-1lEEh3:hover::-webkit-scrollbar {
    width: 0.3em !important;
    border-radius: 50%;
    height: 0px !important;
    background: transparent !important;
}

.managedReactiveScroller-1lEEh3::-webkit-scrollbar-thumb {
    background: var(--background-secondary);
    border-radius: 50%;
}

.newMessagesBar-1hF-9G {
    background: var(--red-bg) !important;
    opacity: 0.8;
}

.newMessagesBar-1hF-9G:hover {
    opacity: 1;
}

.reaction-2A2y9y.reactionMe-3I9gFK {
    background-color: #28151D;
    border-color: #25121A;
    background: linear-gradient(180deg, rgba(38,22,31,1) 50%, rgba(36,16,25,1) 52%);
}

.reaction-2A2y9y {
    background-color: #1D1C21;
    background: linear-gradient(180deg, rgba(24,24,28,1) 50%, rgba(20,20,20,.7) 50%);
}

div[class*="mentioned"]::before {
  background: var(--red-bg) !important;
  border-radius: var(--radius-primary);
  height: 30px;
  top: 10px;
}

div[class*="mentioned"] {
  border-radius: var(--radius-primary);
}

.username-h_Y3Us {
    font-family: var(--font) !important;
    font-weight: 600;
    font-size: 1.05rem;
}

.repliedMessage-3Z6XBG:before {
    --spine-width: 5px;
    content: "";
    display: block;
    position: absolute;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    top: 50%;
    right: 100%;
    bottom: 0;
    left: calc(var(--avatar-size)/2*-1 + var(--gutter)*-1);
    margin-right: var(--reply-spacing);
    margin-top: calc(var(--spine-width)*-1/2);
    margin-left: calc(var(--spine-width)*-1/2);
    margin-bottom: calc(.125rem - 4px);
    border-left: var(--spine-width) solid var(--background-secondary-alt);
    border-bottom: 0 solid var(--background-secondary-alt);
    border-right: 0 solid var(--background-secondary-alt);
    border-top: var(--spine-width) solid var(--background-secondary-alt);
    border-top-left-radius: 6px;
}

.wrapper-1ZcZW-:not(.roleMention-11Aaqi) {
    color: var(--brand-experiment);
    background: transparent !important;
}

.wrapper-1ZcZW- {
    font-weight: 600;
    font-size: 1.01em;
}