/* resize handle of new threads sidebar */
.resizeHandle-PBRzPC {
	background-color: var(--background-secondary) !important;
}

/* Text bar in threads sidebar and also the bar where you give it a name */
.container-1RZJZM .channelTextArea-1VQBuV .scrollableContainer-15eg7h,
input[placeholder="New Thread"] {
    	background-color: var(--background-secondary);
    	border-radius: 10px;
}

/* Image in chat */
.imageWrapper-oMkQl4 {
 	border-radius: 10px !important;
}

/* edited text */
.timestamp-p1Df1m:not(.timestampInline-_lS3aK, .timestampVisibleOnHover-9PEuZS) time::after {
  	content: " (" attr(aria-label) ")";
	color: var(--text-muted);
	font-size: 0.625rem;
   	 font-weight: 400;
   	 line-height: 1;
  	  -webkit-user-select: none;
  	  -moz-user-select: none;
  	  -ms-user-select: none;
  	  user-select: none;
	text-transform: lowercase;
}

.message-translate-indicator {
	color: var(--text-muted);
	font-size: 0.625rem;
   	 font-weight: 400;
   	 line-height: 1;
  	  -webkit-user-select: none;
  	  -moz-user-select: none;
  	  -ms-user-select: none;
  	  user-select: none;
	text-transform: lowercase;
}

.edited-1v5nT8:not(.message-translate-indicator) {
	display: none;
}

.managedReactiveScroller-1lEEh3 {
    scrollbar-width: auto !important;
    overflow-y: scroll !important;
}

.managedReactiveScroller-1lEEh3::-webkit-scrollbar {
    width: 0.3em !important;
}

.managedReactiveScroller-1lEEh3:hover::-webkit-scrollbar {
    width: 0.3em !important;
    border-radius: 50%;
    height: 0px !important;
    background: transparent !important;
}

.managedReactiveScroller-1lEEh3:hover::-webkit-scrollbar-thumb {
    background: var(--background-secondary);
    border-radius: 50%;
}

.newMessagesBar-1hF-9G {
    background: var(--red-bg) !important;
    opacity: 0.8;
}

.newMessagesBar-1hF-9G:hover {
    opacity: 1;
}

.reaction-2A2y9y.reactionMe-3I9gFK {
    background-color: #28151D;
    border-color: #25121A;
    background: linear-gradient(180deg, rgba(38,22,31,1) 50%, rgba(36,16,25,1) 52%);
}

.reaction-2A2y9y {
    background-color: #1D1C21;
    background: linear-gradient(180deg, rgba(24,24,28,1) 50%, rgba(20,20,20,.7) 50%);
}

div[class*="mentioned"]::before {
  background: var(--red-bg) !important;
  border-radius: 50%;
  height: 100%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

div[class*="mentioned"] {
  border-radius: 0px 10px 10px 0;
}

.username-h_Y3Us {
    font-family: var(--font) !important;
    font-weight: 600;
    font-size: 1rem;
}

.repliedMessage-3Z6XBG:before {
    --spine-width: 3px;
    content: "";
    display: block;
    position: absolute;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    top: 50%;
    right: 100%;
    bottom: 0;
    left: calc(var(--avatar-size)/2*-1 + var(--gutter)*-1);
    margin-right: var(--reply-spacing);
    margin-top: calc(var(--spine-width)*-1/2);
    margin-left: calc(var(--spine-width)*-1/2);
    margin-bottom: calc(.125rem - 4px);
    border-left: var(--spine-width) solid var(--background-secondary-alt);
    border-bottom: 0 solid var(--background-secondary-alt);
    border-right: 0 solid var(--background-secondary-alt);
    border-top: var(--spine-width) solid var(--background-secondary-alt);
    border-top-left-radius: 6px;
}

div[class*="mentioned"] .repliedMessage-3Z6XBG:before {
    --spine-width: 2.5px;
    content: "";
    display: block;
    position: absolute;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    top: 50%;
    right: 100%;
    bottom: 0;
    left: calc(var(--avatar-size)/2*-1 + var(--gutter)*-1);
    margin-right: var(--reply-spacing);
    margin-top: calc(var(--spine-width)*-1/2);
    margin-left: calc(var(--spine-width)*-1/2);
    margin-bottom: calc(.125rem - 4px);
    border-left: var(--spine-width) solid #F5262C;
    border-bottom: 0 solid #F5262C;
    border-right: 0 solid #F5262C;
    border-top: var(--spine-width) solid #F5262C;
    border-top-left-radius: 6px;
}

.wrapper-1ZcZW-:not(.roleMention-11Aaqi) {
    color: var(--brand-experiment);
    background: transparent !important;
}

.wrapper-1ZcZW- {
    font-weight: 600;
    font-size: 1.01em;
}

/* Invite to game/activity (Example Invite to listen along to spotify)*/

.invite-3uuHYQ {
     background: var(--background-secondary) !important;
     border-color: var(--background-secondary) !important;    
}

 .invite-3uuHYQ .header-1Fx4D1{
     color: #ddd;
}

.invite-3uuHYQ [href="https://support.discord.com/hc/en-us/articles/360000167212"],
.helpIcon-24pk1Z {
      display: none;
      opacity: 0;
      cursor: default;
}

.coverImageWrapper-2wx5q1 {
    pointer-events: none;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 0;
    width: 100%;
    height: 100%;
    max-width: 100% !important;
    opacity: 1;
    border-radius: 0 5px 5px 0;
    overflow: hidden;
}

.coverImageActionable-38UjN9.blurred-3p_Z84 {
    -webkit-filter: blur(4px);
    filter: blur(4px);   
}

.artwork-28Cmnt {
     border-radius: 10px;
     -webkit-box-shadow: 0px 0px 10px 6px rgba(0,0,0,0.25);
}

.partyMembers-3cd-7x {
      padding: 5px;
      background-color: var(--background-primary);
      border-radius: 10px;
}

/* Code */

/* Orange text */
.hljs-bullet, .hljs-link, .hljs-meta, .hljs-meta .hljs-keyword, .hljs-selector-attr, .hljs-selector-pseudo, .hljs-subst, .hljs-symbol {
	color: #F5783B !important;
}

/* Yellow Text */
.hljs-attr, .hljs-attribute, .hljs-class .hljs-title, .hljs-template-variable, .hljs-type, .hljs-variable {
	color: #FAC43B !important;
}

/* Green text */
.hljs-doctag, .hljs-literal, .hljs-meta .hljs-meta-string, .hljs-number, .hljs-regexp, .hljs-string {
	color: #00D85B !important;
}

/* Red text */
.hljs-built_in, .hljs-deletion {
	color: #F31F27 !important;
}

/* Blue Text*/
.hljs-name, .hljs-section, .hljs-selector-class, .hljs-selector-id, .hljs-title {
	color: #25D0FD !important;
}

/* The different green color :/ idk what its called lol */
.hljs-addition, .hljs-keyword, .hljs-selector-tag {
	color: #00E7AB !important;
}

/* White Text */
.powercord-codeblock-table td {
	color: #ddd !important;
}

/* Home tab */
.background-fkKrXt {
	background-color: var(--background-primary) !important;
}

.background-fkKrXt .widgets-37sQdc [class^="container"] {
	background-color: var(--background-secondary) !important;
}

.background-fkKrXt .widgets-37sQdc [class^="container"] .channel-3RR50j:hover {
	background-color: var(--background-primary) !important;
}

/* The message action buttons on hovering a message */
.buttonContainer-1502pf .wrapper-2vIMkT .button-3bklZh:hover {
	background-color: var(--background-secondary-alt);
}

/* Red "NEW" line in chat */
#---new-messages-bar {
	border-color: var(--red-bg-alt);
}

/* Red "NEW" icon in chat */
.unreadPill-3nEWYM {
	background: var(--red-bg-alt);
}