.panels-3wFtMD {
     display: flex;
     flex-direction: column;
}

.panels-3wFtMD .container-YkUktl:last-child .flex-2S1XBF {
    position: fixed;
    bottom: calc(0% + 155px);
    left: 10px;
    width: 30px;
    z-index: 101;
    max-height: 150px;
    justify-content: space-evenly;
    align-items: center;
    background: var(--background-secondary);
    border-radius: var(--radius-primary);
    flex-direction: column;
    padding: 0px 10px;
}
 
/*  settings button */
 .container-YkUktl:last-child .flex-2S1XBF> button:last-child {
     margin-top: 5px;
     padding: 25px !important;
     position: fixed;
     bottom: calc(0% + 90px);
     color: #ADA9F5;
     border-radius: 15px;
     background-color: var(--background-secondary);
     transition: ease .3s;
}

/* Buttons */
 .container-YkUktl:last-child .flex-2S1XBF> button {
     padding: 25px !important;
     margin: 0px;
     color: #ADA9F5;
     border-radius: var(--radius-primary);
     transition: ease .3s;
 }

 .container-YkUktl:last-child .flex-2S1XBF> button:hover {
     background-color: var(--brand-experiment);
     color: #fff;
     border-radius: 50%;
 }
 
 .container-YkUktl:last-child .flex-2S1XBF> button:last-child:hover {
     background-color: var(--brand-experiment);
     color: #fff;
     border-radius: 50%;
 }

/* Avatar */
 .panels-3wFtMD > .container-YkUktl:last-child > .avatarWrapper-1B9FTW {
     position: fixed;
     bottom: calc(0% + 20px);
     left: 13.5px;
 }
 
 .panels-3wFtMD > .container-YkUktl:last-child .avatar-1EWyVD>svg {
     width: 55px;
     height: 55px;
     border-radius: 50% !important;
 }
 
 .panels-3wFtMD > .container-YkUktl:last-child .avatar-1EWyVD {
     width: 55px !important;
     height: 55px !important;
     border-radius: 50% !important;
 }

/* Hides Username and Custom Status Area */
  .panels-3wFtMD > div:last-child {
     margin-bottom: 0px;
     height: 0;
     width: 0;
 }

/* Server list made shorter to let the mute, deafen buttons get their place ;) */
.guilds-2JjMmN .scrollerBase-_bVAAt {
    max-height: calc(100% - 275px) !important;
    background-color: var(--background-tertiary);
    border-radius: var(--radius-primary);
    padding-bottom: 52px;
}

.guilds-2JjMmN .scrollerBase-_bVAAt div:nth-child(4) {
    align-items: center;
}

/* Backgorund of mute, deafen buttons area */
.guilds-2JjMmN {
    background-color: #0F0E11;
    border-radius: var(--radius-primary);
}

/* Game activity toggle */
button[aria-label="Hide Game Activity"],
button[aria-label="Show Game Activity"] {
    background-color: var(--background-secondary);
    border-radius: 10px 10px 0px 0px !important;
}

button[aria-label="Hide Game Activity"]:hover,
button[aria-label="Show Game Activity"]:hover {
    border-radius: 50% !important;
}

button[aria-label="Hide Game Activity"]::after,
button[aria-label="Show Game Activity"]::after {
    content: "";
    position: absolute;
    width: 50px;
    height: 50px;
    left: 0px;
    z-index: -101;
    background-color: var(--background-secondary);
    border-radius: 10px 10px 0px 0px !important;
}

button[aria-label="Hide Game Activity"]::before,
button[aria-label="Show Game Activity"]::before {
    content: "";
    position: absolute;
    background-color: #0F0E11;
    width: 70px;
    height: 70px;
    left: -10px;
    z-index: -101;
    top: -20px;
}

/* ═══════════════════════════════════════════════════════════════════════════════════════════════════════
                                  Status Picker Area
 ═══════════════════════════════════════════════════════════════════════════════════════════════════════ */

/* Hides the Separator and Description in Status Picker menu */
.statusItem-2hiCNB > .description-3Cwkxk,
.statusItem-2hiCNB > .separator-1So4YB {
    display: none;
}

/* ═══════════════════════════════════════════════════════════════════════════════════════════════════════
                                  Voice Channel Area
 ═══════════════════════════════════════════════════════════════════════════════════════════════════════ */

/* stage icon green */
.iconLive-nQxzyp {
    color: var(--spotify-color) !important;
 }

/* Voice Channel Wrapper */
.wrapper-3Hk9OB {
    border-radius: var(--radius-primary) !important;
}

/* Voice Channel texts */
.container-1zzFcN {
    color: #ddd;
    border-bottom: none;
}

/* The camera, share screen and activity button when active */
.button-1EGGcP.buttonColor-3bP3fX.buttonActive-Uc1jHx, .button-1EGGcP .buttonColor-3bP3fX.buttonActive-Uc1jHx {
    background: var(--spotify-bg) !important;
}
