.panels-3wFtMD {
     display: flex;
     flex-direction: column;
}

/* ═══════════════════════════════════════════════════════════════════════════════════════════════════════
                                  Status Picker Area
 ═══════════════════════════════════════════════════════════════════════════════════════════════════════ */

/* Hides the Separator and Description in Status Picker menu */
.statusItem-2hiCNB > .description-3Cwkxk,
.statusItem-2hiCNB > .separator-1So4YB {
    display: none;
}

/* ═══════════════════════════════════════════════════════════════════════════════════════════════════════
                                  Voice Channel Area
 ═══════════════════════════════════════════════════════════════════════════════════════════════════════ */

/* stage icon green */
.iconLive-nQxzyp {
    color: var(--spotify-color) !important;
 }

/* Voice Channel Wrapper */
.wrapper-3Hk9OB {
    border-radius: var(--radius-primary) !important;
}

/* Voice Channel texts */
.container-1zzFcN {
    color: #ddd;
    border-bottom: none;
}

/* The camera, share screen and activity button when active */
.button-1EGGcP.buttonColor-3bP3fX.buttonActive-Uc1jHx, .button-1EGGcP .buttonColor-3bP3fX.buttonActive-Uc1jHx {
    background: var(--spotify-bg) !important;
}
