.powercord-spotify {
	margin-bottom: 15px !important;
	margin-top: 5px;
	border-radius: var(--radius-primary) !important;
}

.powercord-spotify .spotify-buttons button {
	margin: 2px;
}

.powercord-spotify .container-YkUktl {
	margin-bottom: 10px;
}

.powercord-spotify .spotify-extra-controls {
	display: flex;
	justify-content: space-evenly !important;
	align-items: center;
	margin: 0px 30px;
	transition: height .5s, opacity 0.3s !important;
}

.powercord-spotify .spotify-extra-controls button {
	transition: .5s ease !important;
}

.powercord-spotify .spotify-extra-controls .active::before {
	color: var(--spotify-bg-alt) !important;
	filter: blur(1px);
}

.powercord-spotify .spotify-extra-controls .active::after {
	content: "";
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background: var(--spotify-bg);
	width: 50%;
	height: 50%;
	z-index: -1;
	filter: blur(5px);
	opacity: 30%;
	border-radius: 50%;
}

.powercord-spotify .spotify-buttons button.button-12Fmur {
	color: var(--interactive-normal) !important;
	border-radius: 50%;
	transition: .5s ease !important;
}

.powercord-spotify .spotify-buttons button:hover {
	color: var(--interactive-active) !important;
	background: var(--background-secondary-alt);
}

.powercord-spotify .spotify-buttons button:nth-child(2) {
	color: #fff !important;
	background: var(--spotify-bg-alt);
	filter: blur(1px);
}

.powercord-spotify .spotify-buttons button:nth-child(2):hover {
	color: #fff !important;
	opacity: 0.9 !important;
}

.powercord-spotify .spotify-buttons button:nth-child(2)::before,
.powercord-spotify .spotify-buttons button:nth-child(2)::after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	background: var(--spotify-bg);
	width: 100%;
	height: 100%;
	z-index: -1;
	filter: blur(4px);
	opacity: 60%;
	border-radius: 50%;
}

.powercord-spotify .spotify-seek-bar {
	height: 4px;
	border-radius: 50px ;
	margin-left: 15px;
	margin-right: 15px;
	background: var(--background-primary);
}

.powercord-spotify .spotify-seek-bar-progress {
	background:  var(--spotify-bg);
	border-radius: 50px;
	filter: blur(1px);
}

.powercord-spotify .spotify-seek-bar-progress::before,
.powercord-spotify .spotify-seek-bar-progress::after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	background: var(--spotify-bg);
	width: 100%;
	height: 100%;
	z-index: -1;
	filter: blur(5px);
	opacity: 70%;
}

.powercord-spotify .spotify-seek-elements,
.powercord-spotify.hover .spotify-seek-elements {
	color: var(--interactive-active);
	font-size: 70%;
	margin-top: 3px;
	margin-left: 10px;
	margin-right: 10px;
}

.fa-backward::before {
	content: "\f048" !important;
}

.fa-forward::before {
	content: "\f051" !important;
}