
.menu-1QACrS, .theme-dark .root-g14mjS, .theme-dark .contentWrapper-3oy4Xo {
   background-color: var(--background-primary);
};

/* Search bar in invite friends to sever menu */
.container-2oNtJn, .inner-2pOSmK {
   background-color: var(--background-primary) !important;
}

/* Invite to server popout menu */
.container-2oNtJn, .inner-2pOSmK {
   background-color: var(--background-secondary) !important;
}

/* Server Link area in popout menu */
.theme-dark .footer-1hTRRZ {
   background-color: var(--background-primary) !important;
}

/* Delete message menu -> message preview */
.theme-dark .message-G6O-Wv {
   background-color: var(--background-secondary);
}

/* Delete + Cancel button area */
.theme-dark .footer-31IekZ {
   background-color: var(--background-secondary);
}

.container-2McqkF, .elevationBorderHigh-3drnJX {
   background-color: var(--background-secondary) !important;
}

.theme-dark .option-2KkUJO:after{
   background: none !important;
}

.theme-dark .focused-2FU0YH {
   background-color: var(--background-secondary);
}

/* Tooltips */
.tooltipPrimary-3qLMbS {
   background-color: var(--background-primary) !important; 
}

.stageListenerPill-1_QAPA {
   background-color: var(--background-secondary) !important;
}