.progressBarContainer-1efroK {
	background-color: var(--background-primary) !important;
}

.sidebar-1tnWFu .container-1NXEtd .container-1-ERn5 .header-3OsQeK {
  color: var(--interactive-active) !important;
  text-transform: uppercase;
  font-family: var(--font);
  margin-left: 4px;
}

/* Category Arrow icon */
.icon-3zI3d2 {
  display: none;
}

/* Category -> create channel + icon */
.addButton-2mlqCW.forceVisible-14yqh4, .iconVisibility-3pLDEs:hover .addButton-2mlqCW {
  display: block;
  opacity: 0;
}

/* Category Expanded */
[aria-expanded*="true"] .name-3BUDLf .overflow-1wOqNV {
    color: var(--interactive-active) !important;
}

.spine-29OFwR {
    display: block;
    margin-top: 4px;
    color: var(--text-muted) !important;
    z-index: 1 !important;
}

.addButton-2mlqCW.forceVisible-14yqh4:hover, .iconVisibility-3pLDEs:hover .addButton-2mlqCW:hover {
  display: block;
  opacity: 1;
}

.container-1NXEtd,
.privateChannels-oVe7HL,
.sidebar-1tnWFu .thin-31rlnD {
  background: var(--background-secondary);
  border-radius: var(--radius-primary);
  margin-bottom: 3px;
  margin-left: -1px;
}

.sidebar-1tnWFu{
  background: transparent;
  border-radius:  10px 10px 0px 0px !important;
  margin-right: 8px;
  width: 260px;
}

.bannerImage-ubW8K-, .bannerImage-ubW8K- img {
  width: 260px;
}

.animatedContainer-2laTjx {
    box-shadow: var(--elevation-high) !important;
    border-radius: 0px !important;
}

.container-1-ERn5 {z-index: 2 !important;}
.chat-2ZfjoI,
.container-2cd8Mz,
.container-1a3EgQ,
.container-36u7Lw,
.applicationStore-2nk7Lo,
.pageWrapper-2PwDoS {
  border-radius: 10px 0px 0px 0px;
}
.panels-3wFtMD {
  background: var(--background-secondary);
  border-radius: 10px 10px 0px 0px;
}
.animatedContainer-2laTjx {
  box-shadow: none;
  border-radius: var(--radius-primary);
}

.container-1NXEtd, .privateChannels-oVe7HL, .sidebar-1tnWFu .thin-31rlnD {
    margin-bottom: 5px !important;
}

.containerDefault-YUSmu3, .containerDragAfter-3aBiOW, .containerDragBefore-1s5Qg6, .containerUserOver-SDa1HW {
    padding: 3px 2px;
}

.iconContainer-21RCa3 {
    margin-right: 7px;
}

/* indicator next to channel */
.unreadRelevant-2f-VSK {
    background-color: var(--brand-experiment);
    width: 3px;
    height: 17px;
    margin-top: -9px;
}

.containerDefault-3TQ5YN, .containerDragAfter-1J_-1V, .containerDragBefore-ei4h1m, .containerUserOver-3woq86 {
    margin: 5px;
}

.wrapper-NhbLHG.modeSelected-3DmyhH, .wrapper-NhbLHG.modeConnected-NrO4cP{
    /*border-left: 3px solid var(--brand-experiment) !important;*/
    border-radius: 2px 10px 10px 2px;
    background: var(--background-primary);
}

.wrapper-NhbLHG.modeSelected-3DmyhH .content-1gYQeQ {
    background-color: transparent;
}

.wrapper-NhbLHG.modeSelected-3DmyhH .content-1gYQeQ .iconContainer-21RCa3 svg path,
.modeConnected-NrO4cP .content-1gYQeQ .iconContainer-21RCa3 svg path{
    fill: var(--interactive-active);
}

.wrapper-NhbLHG .content-1gYQeQ:hover .iconContainer-21RCa3 svg path{
    fill: var(--interactive-active);
}

.wrapper-NhbLHG.modeSelected-3DmyhH:hover, .wrapper-NhbLHG .content-1gYQeQ:hover, .content-1Tgc42:hover {
    background-color: var(--background-secondary-alt) !important;
}

.wrapper-NhbLHG.modeSelected-3DmyhH:hover::before, .wrapper-NhbLHG .content-1gYQeQ:hover::before, .content-1Tgc42:hover::before {
    background-color: var(--background-secondary-alt) !important;
}

.wrapper-NhbLHG.modeConnected-NrO4cP:hover, .wrapper-NhbLHG.modeConnected-NrO4cP:hover::before {
    background-color: var(--background-secondary-alt);
}

.userLimit-VbEkeM .wrapper-2fEmwW .users-2JoyGL {
    background-color: var(--background-secondary-alt);
    color: var(--interactive-normal);
    filter: brightness(115%);
}

.userLimit-VbEkeM .wrapper-2fEmwW .total-1c5KCN {
    background-color: var(--background-secondary-alt);
    color: var(--interactive-normal);
    filter: brightness(130%);
}

.total-1c5KCN:after {
    content: "";
    position: absolute;
    top: 0;
    left: -8px;
    width: 0;
    height: 0;
    border-top: 20px solid transparent;
    border-bottom: 0 solid transparent;
    border-right: 8px solid transparent;
    border-right-color: var(--background-secondary-alt);
    filter: brightness(130%);
}

/* "NEW UNREADS" pill/bar */
.unread-2wipsx {
    background: var(--red-bg);
    opacity: 0.9;
}

/* Server with a banner */
[class*="container"][class*="clickable"][class*="hasBanner"][class*="bannerVisible"] > header[class^="header"] {filter: none; }
[class*="container"][class*="clickable"][class*="hasBanner"][class*="bannerVisible"] > header[class^="header"]::before {
    content: '';
    background-color: #000;
    width: 260px;
    height: 49px;
    display: block;
    opacity: 0.3;
    border-radius: 10px 10px 0px 0px;
    position: fixed;
    left: 72px;
    z-index: -1;
}

.sidebar-1tnWFu .container-1NXEtd .container-1-ERn5 .header-3OsQeK:hover,
.sidebar-1tnWFu .container-1NXEtd .container-1-ERn5:hover {
	background-color: var(--background-secondary-alt);
}