/* ═══════════════════════════════════════════════════════════════════════════════════════════════════════
                                    Server List Area
   ═══════════════════════════════════════════════════════════════════════════════════════════════════════ */


.item-2LIpTv {
    background-color: var(--brand-experiment);
    margin-left: -1px;
    border-radius: var(--radius-primary) !important;
}

/*
@media (max-height: 900px) {
    .guilds-2JjMmN .scrollerBase-_bVAAt {
        max-height: 60% !important;
        background-color: var(--background-tertiary);
        border-radius: var(--radius-primary);
    }
}

@media (max-height: 800px) {
    .guilds-2JjMmN .scrollerBase-_bVAAt {
        max-height: 57% !important;
        background-color: var(--background-tertiary);
        border-radius: var(--radius-primary);
    }
} */

/* "new" unread pill in server list */
.mention-3XBnnZ {
    display: none;
}

.none-2-_0dP {
    scrollbar-width: auto !important;
    overflow-y: scroll !important;
    overflow-x: hidden !important;
    margin-right: 3px;
}

.none-2-_0dP:hover::-webkit-scrollbar {
    width: 0.25em !important;
    border-radius: var(--radius-primary);
    background: transparent !important;  
}

.none-2-_0dP::-webkit-scrollbar-thumb {
    background: var(--background-secondary);
    border-radius: var(--radius-primary);
}

/* Folder BG */
.folder-241Joy, .folderIconWrapper-1oRIZr, .expandedFolderIconWrapper-3RwQpD, .expandedFolderBackground-1kSAf6 {
    background-color: var(--background-secondary-alt) !important;
}

/* Folder Icon */
.expandedFolderIconWrapper-3RwQpD svg {
    color: var(--brand-experiment) !important;
}


/* Server Icon */
.selected-1Drb7Z img {
    transition: .5s ease !important;
}

.childWrapper-1j_1ub {
    transition: .5s ease;
    background-color: var(--background-secondary-alt) !important;
    border-radius: 10% !important;
}

.wrapper-3kah-n.selected-1Drb7Z .childWrapper-1j_1ub, .wrapper-3kah-n:hover .childWrapper-1j_1ub {
    background: var(--blurple-bg) !important;
}

.circleIconButton-1VxDrg {
    background-color: var(--background-secondary-alt);
    color: var(--brand-experiment);
    transition: .5s ease;
}

.circleIconButton-1VxDrg:hover {
    background: var(--blurple-bg);
    color: #fff;
}

.circleIconButton-1VxDrg.selected-2r1Hvo {
    background: var(--blurple-bg-alt);
}