.numberBadge-37OJ3S {
    color: #eee;
    background-color: var(--brand-experiment) !important;
    margin-left: 10px;
    border-radius: var(--radius-primary) !important;
}

/* friends list */
.peopleColumn-1wMU14 {
    background-color: var(--background-primary);
}

.colorGreen-3y-Z79, .liveIndicator-TJKS7N {
    background: var(--spotify-bg);
    color: #fff !important;
    transition: .5s ease;
    border: none;
    outline: none;
}

.colorGreen-3y-Z79:hover {
    background: var(--spotify-bg-alt) !important;
    color: #fff !important;
}

.colorStatusGreen-2HKYOW {
    color: var(--spotify-color) !important;
}

.lookFilled-yCfaCM.colorBrand-I6CyqQ {
    background: var(--blurple-bg);
    color: #fff !important;
}

.lookFilled-yCfaCM.colorBrand-I6CyqQ:hover {
    background: var(--blurple-bg-alt);
}

.colorRed-rQXKgM {
  background: var(--red-bg) !important;
  transition: .5s ease !important;
}

.colorRed-rQXKgM:hover {
  background: var(--red-bg-alt) !important;
}

.lookOutlined-3yKVGo.colorRed-rQXKgM {
  color: #fff !important;
}

.focused-3qFvc8 {
  background: var(--blurple-bg-alt) !important;
}