:root {
    --version: "3.0.0";
    --author: "Obscure#4719";
    --support: "discord.gg/B9TK7nqRE4";
}

// Lavender Info inside settings page
.info-3pQQBb {
    &::after {
        content: "Lavender " var(--version, "3.0.0") '\a' var(--SKIN-skin, "Unknown") " by " var(--SKIN-author, "Unknown") '\a' "Support: " var(--support);
        white-space: pre-wrap;
        display: inline-block;
        color: var(--text-muted);
        font-size: 12px;
        line-height: 18px;
        margin-top: 10px;
        text-transform: none;
    }
}

/* Chat, Friends List, Mutual Friends List - Added lavender icon next to my name */
[data-author-id='755436063828213821'] .header-2jRmjb .username-h_Y3Us,
[data-user-id="755436063828213821"]+.header-1dhDWV,
[data-user-id="755436063828213821"]+.text-3j8t_e .username-3JLfHz,
[data-user-id="755436063828213821"]+.listName-PwbeHL .username-3JLfHz {
    &::before{
        content: "";
        background: url("https://lavender-discord.github.io/Lavender/assets/lavender/logo.png") center/100% no-repeat;
        padding: 0px 7.5px 0px 7.5px;
        margin-right: 6px;
    }
}

/* Small user popout - Added lavender icon next to my name */
[aria-label="Obscure."].userPopout-2j1gM4 .headerTop-3GPUSF .headerText-1-WmDq .nameTag-H6kSJ0 .username-3JLfHz{
    &::before {
        content: "";
        background: url("https://lavender-discord.github.io/Lavender/assets/lavender/logo.png") center/100% no-repeat;
        padding: 1px 8px 0px 8px;
        margin-right: 6px;
    }
}

// Lavender Icon next to support server
[aria-label^="Gradient"] .container-1-ERn5 .header-3OsQeK .name-3Uvkvr{
    &::before{
        content: "";
        background: url("https://lavender-discord.github.io/Lavender/assets/lavender/logo.png") center/100% no-repeat;
        padding: 1px 8px 0px 8px;
        margin-right: 7px;
    }
}