.container-2RRFHK  {
    .content-3AIQZv {
        .tipTitle-3FYEQp {
            &::after {
                content: " ?";
                font-size: inherit;
                font-weight: inherit;
                color: inherit;
            }
        }
    }   
}