:root {
    --spotify-color: #08DA7A !important;
}

.powercord-spotify {
    margin-top: 1px;
    background-color: var(--background-secondary) !important;
    margin-bottom: 10px;
    border-radius: 5px;
}

.powercord-spotify>.container-YkUktl {
    background-image: linear-gradient(
    320deg,
    hsl(146deg 100% 42%) 0%,
    hsl(147deg 98% 43%) 9%,
    hsl(147deg 96% 43%) 17%,
    hsl(148deg 95% 44%) 26%,
    hsl(149deg 94% 44%) 35%,
    hsl(150deg 93% 44%) 43%,
    hsl(152deg 93% 44%) 52%,
    hsl(153deg 94% 44%) 61%,
    hsl(154deg 95% 44%) 70%,
    hsl(155deg 96% 43%) 79%,
    hsl(156deg 98% 43%) 89%,
    hsl(158deg 100% 42%) 100%
    );
    //background-color: var(--spotify-color);
    color: #fff;
    border-radius: 5px;
}

.powercord-spotify.hover>.container-YkUktl {
    margin-bottom: 12px;
}

.spotify-title > .title-338goq{
    color: #fff;
}

.spotify-cover {
    overflow: hidden;
    margin-top: -4px !important;
    -webkit-box-shadow: 0px 6px 27px 0px rgba(0,0,0,0.6);
    animation: beat .75s infinite alternate;
    transform-origin: center;   
}

@keyframes beat{
	to { transform: scale(1.05); }
}

.spotify-artist {
    color: #eee;
}

.powercord-spotify .spotify-seek-bar-progress {
    background-image: linear-gradient(
    320deg,
    hsl(146deg 100% 42%) 0%,
    hsl(147deg 98% 43%) 9%,
    hsl(147deg 96% 43%) 17%,
    hsl(148deg 95% 44%) 26%,
    hsl(149deg 94% 44%) 35%,
    hsl(150deg 93% 44%) 43%,
    hsl(152deg 93% 44%) 52%,
    hsl(153deg 94% 44%) 61%,
    hsl(154deg 95% 44%) 70%,
    hsl(155deg 96% 43%) 79%,
    hsl(156deg 98% 43%) 89%,
    hsl(158deg 100% 42%) 100%
    );
    //background-color: var(--spotify-color) !important;
    border-radius: 7px !important;
}

.powercord-spotify .spotify-seek-elements {
    display: flex;
    justify-content: space-between;
    color: var(--text-normal);
    font-size: 12px !important;
    padding: 5px 0px 0px !important;
    font-weight: 500 !important;
}

.powercord-spotify .spotify-buttons button:hover {
    background-color: var(--background-secondary);
    color: var(--spotify-color) !important;
    -webkit-box-shadow: 0px 6px 27px 0px rgba(0,0,0,0.6);
}

.powercord-spotify .spotify-buttons .button-12Fmur {
    color: #eee !important;
}

.powercord-spotify .button-12Fmur {
    color: #eee !important;
}

.powercord-spotify .spotify-seek-bar{
    height: 4px !important;
    border-radius: 5px !important;
    margin-left: 15px !important;
    margin-right: 15px !important;
    background: var(--background-primary) !important;
}

.powercord-spotify .spotify-seek-bar-progress{
    border-radius:42px!important
}

.powercord-spotify .spotify-seek-elements,.powercord-spotify.hover .spotify-seek-elements{
    font-size:80%!important;
    margin: 3px 15px 3px 15px !important;
    color: #fff !important;
}
