.powercord-spotify {
    margin-top: 1px;
    background-color: var(--background-secondary) !important;
    margin-bottom: 10px;
    border-radius: 50px;
}

.powercord-spotify>.container-YkUktl {
    background-color: var(--background-secondary) !important;
    border-radius: 50px;
    color: #fff;
}

.spotify-title > .title-338goq{
    color: #ddd;
}

.spotify-cover {
    overflow: hidden;
    width: 35px !important;
    height: 35px !important;
    border-radius: 7px !important;
}

.spotify-artist {
    color: #ccc;
}

.powercord-spotify .spotify-seek-bar-progress {
    background-color: var(--brand-experiment) !important;
    border-radius: 7px !important;
}

.powercord-spotify .spotify-seek-elements {
    display: flex;
    justify-content: space-between;
    color: var(--text-normal);
    font-size: 12px !important;
    padding: 4px 0px 0px !important;
    font-weight: 500 !important;
}

.powercord-spotify.hover .spotify-buttons {
    display: flex !important;
}

.spotify-seek-bar,.powercord-spotify .spotify-seek-bar-progress{height: 3px !important}

.powercord-spotify .spotify-buttons .button-12Fmur {
    color: #ADA9F5 !important;
}

.powercord-spotify .button-12Fmur {
    color: #ccc !important;
}