:root {
  --guild-shape-normal:	url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 48 48' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill='black' d='M0 24C0 5.04 5.04 0 24 0s24 5.04 24 24s-5.04 24-24 24S0 42.96 0 24'/%3E%3C/svg%3E");
  --guild-shape-hover:	url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 48 48' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill='black' d='M0 24C0 3.12 3.12 0 24 0s24 3.12 24 24s-3.12 24-24 24S0 44.88 0 24'/%3E%3C/svg%3E");
  --avatar-shape:	url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 48 48' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill='black' d='M0 24C0 5.04 5.04 0 24 0s24 5.04 24 24s-5.04 24-24 24S0 42.96 0 24'/%3E%3C/svg%3E");
}

.svg-2zuE5p > defs > path:not([d="M0 24C0 16.5449 0 12.8174 1.21793 9.87706C2.84183 5.95662 5.95662 2.84183 9.87706 1.21793C12.8174 0 16.5449 0 24 0C31.4551 0 35.1826 0 38.1229 1.21793C42.0434 2.84183 45.1582 5.95662 46.7821 9.87706C48 12.8174 48 16.5449 48 24C48 31.4551 48 35.1826 46.7821 38.1229C45.1582 42.0434 42.0434 45.1582 38.1229 46.7821C35.1826 48 31.4551 48 24 48C16.5449 48 12.8174 48 9.87706 46.7821C5.95662 45.1582 2.84183 42.0434 1.21793 38.1229C0 35.1826 0 31.4551 0 24Z"]) {
  d: path("M0 24C0 5.04 5.04 0 24 0s24 5.04 24 24s-5.04 24-24 24S0 42.96 0 24");
}

.svg-2zuE5p > defs > path[d="M0 24C0 16.5449 0 12.8174 1.21793 9.87706C2.84183 5.95662 5.95662 2.84183 9.87706 1.21793C12.8174 0 16.5449 0 24 0C31.4551 0 35.1826 0 38.1229 1.21793C42.0434 2.84183 45.1582 5.95662 46.7821 9.87706C48 12.8174 48 16.5449 48 24C48 31.4551 48 35.1826 46.7821 38.1229C45.1582 42.0434 42.0434 45.1582 38.1229 46.7821C35.1826 48 31.4551 48 24 48C16.5449 48 12.8174 48 9.87706 46.7821C5.95662 45.1582 2.84183 42.0434 1.21793 38.1229C0 35.1826 0 31.4551 0 24Z"] {
  d: path("M0 24C0 3.12 3.12 0 24 0s24 3.12 24 24s-3.12 24-24 24S0 44.88 0 24");
}

.svg-2zuE5p > foreignObject:first-child {
  -webkit-mask-image: var(--guild-shape-normal);
  -webkit-mask-size: contain;
  -webkit-mask-position: center;
  -webkit-mask-repeat: no-repeat;
  border-radius: 0;
}

.avatar-3XmvJx,
.guildIcon-2Tpnad.iconSizeSmol-qsFaRK,
.replyAvatar-sHd2sU,
.embedAuthorIcon-3pnkS4,
.iconSizeMedium-2vzSua.listAvatar-2bU5Uh,
.avatar-2e8lTP:not(.avatar-2e8lTP[data-bsi-status]),
.guildIcon-EvT-p6,
.voiceSectionGuildImage-TctMOd,
.avatarUploader-2UF9NL,
#app-mount .peopleColumn-1wMU14 .avatar-2MSPKk::before {
  -webkit-mask-image: var(--avatar-shape);
  -webkit-mask-size: contain;
  -webkit-mask-position: center;
  -webkit-mask-repeat: no-repeat;
  border-radius: 0;
}

.avatar-3TrM7c,
.listDefault-2F-w65 .avatarContainer-3FF_Km {
  -webkit-mask-image: var(--avatar-shape);
  -webkit-mask-size: contain;
  -webkit-mask-position: center;
  -webkit-mask-repeat: no-repeat;
  border-radius: 0;
  box-shadow: none;
}
.avatar-3TrM7c.avatarSpeaking-2pCGrZ,
.listDefault-2F-w65 .avatarContainer-3FF_Km.avatarSpeaking-2pCGrZ {
  -webkit-mask-image: var(--avatar-shape);
  -webkit-mask-size: contain;
  -webkit-mask-position: center;
  -webkit-mask-repeat: no-repeat;
  border-radius: 0;
  -webkit-mask-size: 22px;
  position: relative;
  z-index: 2;
}

.usernameSpeaking-3FKv6H::before {
  content: "";
  margin: -1px 0 0 -1px;
  width: 26px;
  height: 26px;
  background: var(--accent);
  display: block;
  z-index: 1;
  position: absolute;
  -webkit-mask-image: var(--avatar-shape);
  -webkit-mask-size: contain;
  -webkit-mask-position: center;
  -webkit-mask-repeat: no-repeat;
  border-radius: 0;
  top: 3px;
  left: 8px;
}

.container-YkUktl .avatarStack-3vfSFa .avatar-b5OQ1N,
.voiceUser-3nRK-K .avatar-b5OQ1N {
  z-index: 2;
}

.container-YkUktl .avatarStack-3vfSFa .avatar-b5OQ1N:first-child:not(:last-child) {
  -webkit-mask-image: var(--avatar-shape);
  -webkit-mask-size: contain;
  -webkit-mask-position: center;
  -webkit-mask-repeat: no-repeat;
  border-radius: 0;
  -webkit-mask-size: 28px;
  -webkit-mask-position: center;
  width: 28px;
  height: 28px;
  margin: 2px;
}

.avatarSpeaking-33RRJU {
  -webkit-mask-image: var(--avatar-shape);
  -webkit-mask-size: contain;
  -webkit-mask-position: center;
  -webkit-mask-repeat: no-repeat;
  border-radius: 0;
  background: var(--accent);
  box-shadow: none;
  margin: -1px 0 0 -1px;
  width: 34px;
  height: 34px;
  position: absolute;
  z-index: 1;
}

.content-1Tgc42 {
  position: relative;
}

.avatar-3QF_VA.wrapper-1VLyxH,
.avatar-2Vndt_.wrapper-1VLyxH,
.avatar-3mTjvZ.wrapper-1VLyxH {
  border-radius: 0;
  -webkit-mask-image: var(--avatar-shape), url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 2 2' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 1v1h2V1z'/%3E%3C/svg%3E");
}

.folderIconWrapper-1_bOZe,
.wrapperSimple-Js2rIO,
.wrapper-1VLyxH {
  border-radius: 0;
}

.mask-1FEkla > foreignObject[mask="url(#svg-mask-avatar-default)"] {
  -webkit-mask: var(--avatar-shape);
  mask: none;
}

.avatarHint-k7pYop > foreignObject[mask="url(#svg-mask-avatar-status-round-16)"],
.mask-1FEkla > foreignObject[mask="url(#svg-mask-avatar-status-round-16)"] {
  -webkit-mask: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 1 1' height='16' width='16' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle fill='black' cx='0.8125' cy='0.8125' r='0.3125'/%3E%3C/svg%3E"), var(--avatar-shape);
}
.avatarHint-k7pYop > foreignObject[mask="url(#svg-mask-avatar-status-mobile-16)"],
.mask-1FEkla > foreignObject[mask="url(#svg-mask-avatar-status-mobile-16)"] {
  -webkit-mask: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 1 1' height='16' width='16' xmlns='http://www.w3.org/2000/svg'%3E%3Crect fill='black' x='0.5' y='0.3125' width='0.625' height='0.8125' rx='0.1625' ry='0.1625'/%3E%3C/svg%3E"), var(--avatar-shape);
}
.avatarHint-k7pYop > foreignObject[mask="url(#svg-mask-avatar-status-typing-16)"],
.mask-1FEkla > foreignObject[mask="url(#svg-mask-avatar-status-typing-16)"] {
  -webkit-mask: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 1 1' height='16' width='16' xmlns='http://www.w3.org/2000/svg'%3E%3Crect fill='black' x='0.21875' y='0.5' width='1.1875' height='0.625' rx='0.3125' ry='0.3125'/%3E%3C/svg%3E"), var(--avatar-shape);
}

.avatarHint-k7pYop > foreignObject[mask="url(#svg-mask-avatar-status-round-24)"],
.mask-1FEkla > foreignObject[mask="url(#svg-mask-avatar-status-round-24)"] {
  -webkit-mask: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 1 1' height='24' width='24' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle fill='black' cx='0.8333333333333334' cy='0.8333333333333334' r='0.2916666666666667'/%3E%3C/svg%3E"), var(--avatar-shape);
}
.avatarHint-k7pYop > foreignObject[mask="url(#svg-mask-avatar-status-mobile-24)"],
.mask-1FEkla > foreignObject[mask="url(#svg-mask-avatar-status-mobile-24)"] {
  -webkit-mask: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 1 1' height='24' width='24' xmlns='http://www.w3.org/2000/svg'%3E%3Crect fill='black' x='0.5416666666666666' y='0.375' width='0.5833333333333334' height='0.75' rx='0.15' ry='0.15'/%3E%3C/svg%3E"), var(--avatar-shape);
}
.avatarHint-k7pYop > foreignObject[mask="url(#svg-mask-avatar-status-typing-24)"],
.mask-1FEkla > foreignObject[mask="url(#svg-mask-avatar-status-typing-24)"] {
  -webkit-mask: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 1 1' height='24' width='24' xmlns='http://www.w3.org/2000/svg'%3E%3Crect fill='black' x='0.2916666666666667' y='0.5416666666666666' width='1.0833333333333333' height='0.5833333333333334' rx='0.2916666666666667' ry='0.2916666666666667'/%3E%3C/svg%3E"), var(--avatar-shape);
}

.avatarHint-k7pYop > foreignObject[mask="url(#svg-mask-avatar-status-round-32)"],
.mask-1FEkla > foreignObject[mask="url(#svg-mask-avatar-status-round-32)"] {
  -webkit-mask: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 1 1' height='32' width='32' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle fill='black' cx='0.84375' cy='0.84375' r='0.25'/%3E%3C/svg%3E"), var(--avatar-shape);
}
.avatarHint-k7pYop > foreignObject[mask="url(#svg-mask-avatar-status-mobile-32)"],
.mask-1FEkla > foreignObject[mask="url(#svg-mask-avatar-status-mobile-32)"] {
  -webkit-mask: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 1 1' height='32' width='32' xmlns='http://www.w3.org/2000/svg'%3E%3Crect fill='black' x='0.59375' y='0.4375' width='0.5' height='0.65625' rx='0.13125' ry='0.13125'/%3E%3C/svg%3E"), var(--avatar-shape);
}
.avatarHint-k7pYop > foreignObject[mask="url(#svg-mask-avatar-status-typing-32)"],
.mask-1FEkla > foreignObject[mask="url(#svg-mask-avatar-status-typing-32)"] {
  -webkit-mask: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 1 1' height='32' width='32' xmlns='http://www.w3.org/2000/svg'%3E%3Crect fill='black' x='0.359375' y='0.59375' width='0.96875' height='0.5' rx='0.25' ry='0.25'/%3E%3C/svg%3E"), var(--avatar-shape);
}

.avatarHint-k7pYop > foreignObject[mask="url(#svg-mask-avatar-status-round-40)"],
.mask-1FEkla > foreignObject[mask="url(#svg-mask-avatar-status-round-40)"] {
  -webkit-mask: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 1 1' height='40' width='40' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle fill='black' cx='0.85' cy='0.85' r='0.25'/%3E%3C/svg%3E"), var(--avatar-shape);
}
.avatarHint-k7pYop > foreignObject[mask="url(#svg-mask-avatar-status-mobile-40)"],
.mask-1FEkla > foreignObject[mask="url(#svg-mask-avatar-status-mobile-40)"] {
  -webkit-mask: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 1 1' height='40' width='40' xmlns='http://www.w3.org/2000/svg'%3E%3Crect fill='black' x='0.6' y='0.45' width='0.5' height='0.65' rx='0.13' ry='0.13'/%3E%3C/svg%3E"), var(--avatar-shape);
}
.avatarHint-k7pYop > foreignObject[mask="url(#svg-mask-avatar-status-typing-40)"],
.mask-1FEkla > foreignObject[mask="url(#svg-mask-avatar-status-typing-40)"] {
  -webkit-mask: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 1 1' height='40' width='40' xmlns='http://www.w3.org/2000/svg'%3E%3Crect fill='black' x='0.375' y='0.6' width='0.95' height='0.5' rx='0.25' ry='0.25'/%3E%3C/svg%3E"), var(--avatar-shape);
}

.avatarHint-k7pYop > foreignObject[mask="url(#svg-mask-avatar-status-round-80)"],
.mask-1FEkla > foreignObject[mask="url(#svg-mask-avatar-status-round-80)"] {
  -webkit-mask: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 1 1' height='80' width='80' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle fill='black' cx='0.85' cy='0.85' r='0.175'/%3E%3C/svg%3E"), var(--avatar-shape);
}
.avatarHint-k7pYop > foreignObject[mask="url(#svg-mask-avatar-status-mobile-80)"],
.mask-1FEkla > foreignObject[mask="url(#svg-mask-avatar-status-mobile-80)"] {
  -webkit-mask: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 1 1' height='80' width='80' xmlns='http://www.w3.org/2000/svg'%3E%3Crect fill='black' x='0.675' y='0.575' width='0.35' height='0.45' rx='0.09' ry='0.09'/%3E%3C/svg%3E"), var(--avatar-shape);
}
.avatarHint-k7pYop > foreignObject[mask="url(#svg-mask-avatar-status-typing-80)"],
.mask-1FEkla > foreignObject[mask="url(#svg-mask-avatar-status-typing-80)"] {
  -webkit-mask: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 1 1' height='80' width='80' xmlns='http://www.w3.org/2000/svg'%3E%3Crect fill='black' x='0.525' y='0.675' width='0.65' height='0.35' rx='0.175' ry='0.175'/%3E%3C/svg%3E"), var(--avatar-shape);
}

.avatarHint-k7pYop > foreignObject[mask="url(#svg-mask-avatar-status-round-120)"],
.mask-1FEkla > foreignObject[mask="url(#svg-mask-avatar-status-round-120)"] {
  -webkit-mask: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 1 1' height='120' width='120' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle fill='black' cx='0.8333333333333334' cy='0.8333333333333334' r='0.16666666666666666'/%3E%3C/svg%3E"), var(--avatar-shape);
}
.avatarHint-k7pYop > foreignObject[mask="url(#svg-mask-avatar-status-mobile-120)"],
.mask-1FEkla > foreignObject[mask="url(#svg-mask-avatar-status-mobile-120)"] {
  -webkit-mask: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 1 1' height='120' width='120' xmlns='http://www.w3.org/2000/svg'%3E%3Crect fill='black' x='0.6666666666666666' y='0.5666666666666667' width='0.3333333333333333' height='0.43333333333333335' rx='0.08666666666666667' ry='0.08666666666666667'/%3E%3C/svg%3E"), var(--avatar-shape);
}
.avatarHint-k7pYop > foreignObject[mask="url(#svg-mask-avatar-status-typing-120)"],
.mask-1FEkla > foreignObject[mask="url(#svg-mask-avatar-status-typing-120)"] {
  -webkit-mask: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 1 1' height='120' width='120' xmlns='http://www.w3.org/2000/svg'%3E%3Crect fill='black' x='0.5166666666666667' y='0.6666666666666666' width='0.6333333333333333' height='0.3333333333333333' rx='0.16666666666666666' ry='0.16666666666666666'/%3E%3C/svg%3E"), var(--avatar-shape);
}

.avatarHint-k7pYop > foreignObject[mask|="url(#svg-mask-avatar-status-round"], .avatarHint-k7pYop > foreignObject[mask|="url(#svg-mask-avatar-status-mobile"], .avatarHint-k7pYop > foreignObject[mask|="url(#svg-mask-avatar-status-typing"],
.mask-1FEkla > foreignObject[mask|="url(#svg-mask-avatar-status-round"],
.mask-1FEkla > foreignObject[mask|="url(#svg-mask-avatar-status-mobile"],
.mask-1FEkla > foreignObject[mask|="url(#svg-mask-avatar-status-typing"] {
  -webkit-mask-size: contain;
  -webkit-mask-composite: destination-out;
  mask: none;
}

.size16-2-tfaM .avatarContainerMasked-13fYnN,
.size24-9rrwDS .avatarContainerMasked-13fYnN {
  margin-right: 4px;
}

.partyMember-YLjOa7 {
  mask: none;
  -webkit-mask: none;
}

/*# sourceMappingURL=data:application/json;charset=utf-8,%7B%22version%22:3,%22sourceRoot%22:%22%22,%22sources%22:%5B%22../shapes_icons.scss%22%5D,%22names%22:%5B%5D,%22mappings%22:%22AA2FC;EACC;EACA;EACA;;;AAzFD;EACC;;;AACA;EACA;;;AAED;EACC;EACA;EACA;EACA;EACA;;;AAoFD;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;EAxEA;EACA;EACA;EACA;EACA;;;AAqFA;AAAA;EAzFA;EACA;EACA;EACA;EACA;EAwFC;;AAGA;AAAA;EA/FD;EACA;EACA;EACA;EACA;EA6FE;EAEA;EACA;;;AAGF;EACC;EAGA;EACA;EACA;EAEA;EACA;EACA;EACA;EAlHD;EACA;EACA;EACA;EACA;EAgHC;EACA;;;AAIA;AAAA;EACC;;;AAMD;EAhID;EACA;EACA;EACA;EACA;EA8HE;EACA;EACA;EACA;EACA;;;AAGF;EAzIA;EACA;EACA;EACA;EACA;EAuIC;EACA;EAGA;EACA;EACA;EAEA;EACA;;;AAED;EACC;;;AAQA;AAAA;AAAA;EACC;EAEA;;;AAIF;AAAA;AAAA;EAGC;;;AAGD;EACC;EACA;;;AAxIA;AAAA;EAEC;;AAGD;AAAA;EAEC;;AAGD;AAAA;EAEC;;;AAZD;AAAA;EAEC;;AAGD;AAAA;EAEC;;AAGD;AAAA;EAEC;;;AAZD;AAAA;EAEC;;AAGD;AAAA;EAEC;;AAGD;AAAA;EAEC;;;AAZD;AAAA;EAEC;;AAGD;AAAA;EAEC;;AAGD;AAAA;EAEC;;;AAZD;AAAA;EAEC;;AAGD;AAAA;EAEC;;AAGD;AAAA;EAEC;;;AAZD;AAAA;EAEC;;AAGD;AAAA;EAEC;;AAGD;AAAA;EAEC;;;AAyID;AAAA;AAAA;AAAA;EAGC;EACA;EACA;;;AAKF;AAAA;EAEC;;;AAID;EACC;EACA%22,%22file%22:%22squircle.css%22%7D */