rect[mask="url(#svg-mask-status-online)"] {
    fill: #4DF3BA;
}

rect[mask="url(#svg-mask-status-dnd)"] {
    fill: #FD2B30;
    mask: url(#svg-mask-status-online);
}

rect[mask="url(#svg-mask-status-streaming)"]{
    fill: #7E7BFE;
    mask: url(#svg-mask-status-online);
}

rect[mask="url(#svg-mask-status-idle)"]{
    fill: #F7C954;
}

rect[mask="url(#svg-mask-status-online-mobile)"]{
    fill: #4DF3BA;
}

mask[id^="svg-mask-avatar-status-round"] circle:last-of-type {
    cy: 15.625%;
}
mask[id^="svg-mask-avatar-status-mobile"] rect {
    y: 0%;
}
mask[id^="svg-mask-avatar-status-typing"] rect {
    y: -9.375%;
}

.mask-1FEkla rect {
    y: 5.6%;
} 
.mask-1FEkla rect[mask*="status-online-mobile)"] {
    y: 7.3%;
}
:is(.avatar-6qzftW, .avatar-2MSPKk, .avatar-1EWyVD) .mask-1FEkla rect:not([mask*="status-online-mobile)"]) {
    y: 0% !important;
}
.mask-1FEkla .dots-1BwzZQ {
    transform: translateY(-69%)
}


.wrapper-1VLyxH .dots-1BwzZQ {
  overflow: visible;
}
.wrapper-1VLyxH .dots-1BwzZQ circle {
  cy: -7.5;
}
.wrapper-1VLyxH .dots-1BwzZQ circle:nth-child(1) {
  cx: -8.5;
}
.wrapper-1VLyxH .dots-1BwzZQ circle:nth-child(2) {
  cx: -2.25;
}
.wrapper-1VLyxH .dots-1BwzZQ circle:nth-child(3) {
  cx: 4;
}
.wrapper-1VLyxH foreignObject[mask*="typing"] {
  mask: none;
}
.wrapper-1VLyxH foreignObject[mask*="typing"] .avatar-b5OQ1N {
  border-radius: 100%;
}
.wrapper-1VLyxH .pointerEvents-9SZWKj[mask="url(#svg-mask-status-typing)"] {
  x: 1;
  y: 1;
  width: 30px;
  height: 30px;
  fill: rgba(0, 0, 0, 0.75);
  clip-path: circle();
}

.avatar-b5OQ1N svg {
  border-radius: 10% !important;
}