.statusItem-2hiCNB > .description-3Cwkxk,
.statusItem-2hiCNB > .separator-1So4YB {
    display: none;
}

.panels-3wFtMD .container-YkUktl:last-child .flex-2S1XBF {
   position: fixed;
   bottom: 10%;
   left: 10px;
   width: 30px;
   max-height: 300px;
   min-height: 195px;
   justify-content: space-evenly;
   align-items: center;
   background: var(--background-secondary);
   border-radius: 7px;
   flex-direction: column;
   padding: 0px 10px;
}

.container-YkUktl:last-child .flex-2S1XBF> button {
    padding: 25px !important;
    margin: 2px;
    color: #ADA9F5;
    border-radius: 10px;
    transition: ease .3s;
}

.container-YkUktl:last-child .flex-2S1XBF> button:hover {
    background-color: var(--brand-experiment);
    color: #fff;
    border-radius: 8px;
}

.panels-3wFtMD > .container-YkUktl:last-child > .avatarWrapper-1B9FTW {
    position: fixed;
    bottom: 2%;
    left: 0.8%;
}

.panels-3wFtMD > .container-YkUktl:last-child .avatar-1EWyVD>svg {
    width: 55px;
    height: 55px;
    border-radius: 50% !important;
}

.panels-3wFtMD > .container-YkUktl:last-child .avatar-1EWyVD {
    width: 55px !important;
    height: 55px !important;
    border-radius: 50% !important;
}

 .panels-3wFtMD > div:last-child {
    margin-bottom: 0px;
    height: 0;
    width: 0;
}

.guilds-2JjMmN .scrollerBase-_bVAAt {
    max-height: 65% !important;
    background-color: var(--background-tertiary);
    border-radius: 7px;
}

@media (max-height: 900px) {
    .guilds-2JjMmN .scrollerBase-_bVAAt {
        max-height: 60% !important;
        background-color: var(--background-tertiary);
        border-radius: 7px;
    }
}

@media (max-height: 800px) {
    .guilds-2JjMmN .scrollerBase-_bVAAt {
        max-height: 50% !important;
        background-color: var(--background-tertiary);
        border-radius: 7px;
    }
}

.guilds-2JjMmN {
    background-color: #0f0e11;
    border-radius: 10px;
}
