.numberBadge-37OJ3S,
.wrapper-2olG5t.badge-3k1jbq {
	color: #eee;
	background: var(--blurple-bg) !important;
	border-radius: 5px !important;
}

.colorGreen-3y-Z79, .liveIndicator-TJKS7N {
	background: var(--spotify-bg);
	color: #fff !important;
	transition: .5s ease-in-out;
	border: none;
	outline: none;
}

.colorGreen-3y-Z79:hover {
	box-shadow: inset 200px 0 10px 0 var(--spotify-bg-alt);
	color: #fff !important;
	border-radius: 6px;
}

.colorStatusGreen-2HKYOW {
	color: var(--spotify-color) !important;
}

.lookFilled-yCfaCM.colorBrand-I6CyqQ {
	color: #fff !important;
	transition: .5s ease-in-out;
	outline: none;
	background: var(--blurple-bg);
}

.lookFilled-yCfaCM.colorBrand-I6CyqQ:hover {
	box-shadow: inset 200px 0 10px 0 var(--blurple-bg-alt);
	color: #fff !important;
	border-radius: 6px;
}

.colorRed-rQXKgM {
	background: var(--red-bg) !important;
	transition: .5s ease-in-out;
	outline: none;
}

.colorRed-rQXKgM:hover {
	color: #fff !important;
	box-shadow: inset 200px 0 10px 0 var(--red-bg-alt);
	border-radius: 6px;
}

.lookOutlined-3yKVGo.colorRed-rQXKgM {
	color: #fff !important;
}

.focused-3qFvc8 {
	background: var(--blurple-bg-alt) !important;
}

.spine-29OFwR {
	display: none;
}

[aria-label="Disable"] .container-2nx-BQ {
	background: var(--spotify-bg) !important;
}

[aria-label="Enable"] .container-2nx-BQ {
	background: var(--background-primary) !important;
}

.colorGrey-2iAG-B,
.lookFilled-yCfaCM.colorPrimary-2AuQVo {
	background-color: var(--background-secondary-alt) !important;
	transition: .3s ease;
}

.colorGrey-2iAG-B:hover,
.lookFilled-yCfaCM.colorPrimary-2AuQVo:hover {
	background-color: var(--background-secondary) !important;
}

/* Green */
[style^="opacity: 1; background-color: hsl(139, calc(var(--saturation-factor, 1) * 47.3%), 43.9%);"] {
	background: var(--spotify-color) !important;
}

/* The unchecked checkbox's bg color */
[style^="opacity: 1; background-color: hsl(218, calc(var(--saturation-factor, 1) * 4.6%), 46.9%);"] {
	background: var(--background-secondary-alt) !important;
}

.perksModal-CLcR1c {
	background-color: var(--background-primary) !important;
}

.tierBody-3ju-rc,
.perk-19D_HN {
	background-color: var(--background-secondary) !important;
}

/* Transaction History */
.theme-dark .paginator-1eqD2g {
  background-color: var(--background-secondary)!important;
  border-color: var(--background-modifier-accent)!important;
} 
.theme-dark .bottomDivider-ZmTm-j {
  background-color: var(--background-secondary)!important;
  border-color: var(--background-modifier-accent)!important;
}
.theme-dark .expandedInfo-1W31i3 {
  background-color: var(--background-secondary-alt)!important;
}
.pageButtonNext-2_bbdk.disabled-29cfPA, .pageButtonPrev-3q9rh8.disabled-29cfPA {
  border-color: var(--background-modifier-accent)!important;
}
.pageButtonNext-2_bbdk, .pageButtonPrev-3q9rh8 {
  border-color: var(--background-modifier-accent);
}
