.numberBadge-37OJ3S {
    color: #eee;
    background-color: var(--brand-experiment) !important;
    margin-left: 10px;
    border-radius: 5px !important;
}

.colorGreen-3y-Z79, .liveIndicator-TJKS7N {
    background: var(--spotify-bg);
    color: #fff !important;
    transition: .3s ease;
    border: none;
    outline: none;
}

.colorGreen-3y-Z79:hover {
    background: var(--spotify-bg-alt) !important;
    color: #fff !important;
}

.colorStatusGreen-2HKYOW {
    color: var(--spotify-color) !important;
}

.lookFilled-yCfaCM.colorBrand-I6CyqQ {
    background: var(--blurple-bg);
    color: #fff !important;
    transition: .3s ease;
    border: none;
    outline: none;
}

.lookFilled-yCfaCM.colorBrand-I6CyqQ:hover {
    background: #6C6AFF;
}

.colorRed-rQXKgM {
  background: var(--red-bg) !important;
  transition: .5s ease !important;
}

.colorRed-rQXKgM:hover {
    background: #F42028 !important;
    color: #fff !important;
    transition: .5s ease;
    border: none;
    outline: none;
}

.lookOutlined-3yKVGo.colorRed-rQXKgM {
  color: #fff !important;
}

.focused-3qFvc8 {
  background: var(--blurple-bg-alt) !important;
}

.spine-29OFwR {
  display: none;
}