/* Nitro Button in server list */
.scroller-3X7KbA > [aria-label] + .listItem-3SmSlK,
.tutorialContainer-1pL9QS + .listItem-3SmSlK > .pill-1NRFie ~ *,
.tree-3agP2X + .fixedBottomList-1yrBla {
  display: none;
}

/* Nitro & Boost */
[aria-label*="Send en gave"],
[aria-label*="Ein Geschenk senden"],
[aria-label*="Send a gift"],
[aria-label*="Enviar un regalo"],
[aria-label*="Envoyer un cadeau"],
[aria-label*="Pošalji poklon"],
[aria-label*="Invia un regalo"],
[aria-label*="Siųsti dovaną"],
[aria-label*="Ajándék küldése"],
[aria-label*="Verstuur een cadeau"],
[aria-label*="Wyślij prezent"],
[aria-label*="Enviar um presente"],
[aria-label*="Trimite un cadou"],
[aria-label*="Lähetä lahja"],
[aria-label*="Skicka en gåva"],
[aria-label*="Tặng một món quà"],
[aria-label*="Bir hediye gönder"],
[aria-label*="Odeslat dárek"],
[aria-label*="Στείλτε ένα δώρο"],
[aria-label*="Изпрати подарък"],
[aria-label*="Отправить подарок"],
[aria-label*="Надіслати подарунок"],
[aria-label*="ส่งของขวัญ"],
[aria-label*="发送礼物"],
[aria-label*="ギフトを贈る"],
[aria-label*="發送禮物"],
[aria-label*="선물 보내기"] {
  display: none !important;
}

/* Stickers Button */
.expression-picker-chat-input-button:nth-of-type(2) {
  display: none;
}

/* Gif button */
.expression-picker-chat-input-button:nth-of-type(1) {
  display: none;
}

/* Explore */
.tutorialContainer-2jwoiB + div {
  display: none;
}

/* Slash command button in attachment popout */
#channel-attach-SLASH_COMMAND {
  display: none !important;
}
